# <div style="background-color: #b74ff8ff; padding:10px; border-radius:10px; color: #ffffffff; font-weight: bold"> üìò Carga, Almacenamiento y Formatos de Archivo </div>

> **‚ö†Ô∏è IMPORTANTE!**
> Para ejecutar este notebook se debe crear el entorno que esta especificado en el archivo `README.md`

En an√°lisis de datos, todo comienza con **leer datos** üìä.  
Sin embargo, los datos pueden venir en **m√∫ltiples formatos** y cada uno requiere t√©cnicas espec√≠ficas para manejarlos.

## <div style= "color: #d85050ff; font-weight: bold"> Objetivo principal </div>
El notebook explora las distintas **estrategias de entrada de datos (I/O)** en **pandas** para **convertir fuentes externas en objetos DataFrame**.  
Esto corresponde a la fase inicial de un **pipeline de ciencia de datos**: la **ingesta de datos**.

<div style="background-color: #27c6e639; padding: 6px; border-radius: 6px;"> 

**Los principales temas en este notebook son los siguientes:**

1Ô∏è‚É£ Lectura y escritura de datos en **formato texto**  
2Ô∏è‚É£ Formatos de datos **binarios**  
3Ô∏è‚É£ Interacci√≥n con **APIs web**  
4Ô∏è‚É£ Interacci√≥n con **bases de datos**
</div>


### <div style="color: #d89332ff;"> 1. Lectura y escritura de datos en **formato texto** </div>
- Uso de funciones **`read_csv`** y **`read_table`** de `pandas`.
- Manejo de **delimitadores** (`,` `;` `\t`).
- Configuraci√≥n de **encabezados y tipos de datos**.


### <div style="color: #d89332ff;"> 2. Formatos de datos **binarios** </div>
- Ventajas de formatos como **Pickle** y **Parquet**.
- Optimizaci√≥n para trabajar con **grandes vol√∫menes de datos**.
- Procesos de **serializaci√≥n y deserializaci√≥n** (guardar y recuperar objetos de Python).


### <div style="color: #d89332ff;">3. Interacci√≥n con **APIs web**</div>

- Consumo de datos en **formato JSON** mediante **APIs REST**.  
- Procesamiento de las respuestas directamente con **pandas** para an√°lisis y transformaci√≥n de datos.  


### <div style="color: #d89332ff;">4. Interacci√≥n con **bases de datos**</div>

- Conexi√≥n a bases de datos **SQL** (SQLite, MySQL, PostgreSQL, etc.) y ejecuci√≥n de consultas.  
- Carga de resultados directamente en un **DataFrame** para an√°lisis con pandas.  
- Conexi√≥n a bases de datos **NoSQL**, como **MongoDB**, utilizando librer√≠as como `pymongo`.  
- Extracci√≥n de documentos de MongoDB y transformaci√≥n a DataFrame para an√°lisis.  .
---



## <div style="background-color: #e0ff57ff; padding: 6px; border-radius: 6px"> ¬øQu√© es un DataFrame? </div>
Un **DataFrame** es la **estructura de datos central de pandas**, pensada para representar **datos tabulares** (como si fueran planillas de Excel o tablas de SQL) en memoria.

**Caracter√≠sticas principales:**
-  **Bidimensional**: tiene filas y columnas.  
-  **Etiquetas**: tanto filas (√≠ndice) como columnas tienen nombres para acceder f√°cilmente.  
-  **Heterog√©neo**: cada columna puede tener un tipo de dato distinto (enteros, floats, strings, fechas, booleanos‚Ä¶).  


### <div style="color: #3056d5ff"> ¬øPor qu√© es √∫til convertir todo a DataFrame? </div>

####  1. Unificaci√≥n de formatos
- Los datos reales pueden venir en **CSV, Excel, JSON, HTML, SQL, APIs**, etc.  
- Cada fuente tiene **estructuras y reglas distintas**.  
- Con **pandas** no hace falta aprender decenas de librer√≠as: todo se unifica en un **DataFrame homog√©neo y manejable**.  

#### 2. Exportaci√≥n flexible
Un DataFrame no es un callej√≥n sin salida:  
- Se puede **exportar de nuevo** a diferentes formatos: **CSV, Excel, SQL, JSON**, entre otros.  
- Cada formato tiene sus **ventajas y desventajas** (por ejemplo, CSV es liviano pero no guarda tipos, HDF5 es robusto pero m√°s complejo).

## <div style="background-color: #e0ff57ff; padding: 6px; border-radius: 6px"> ¬øQu√© es pandas? </div>

**pandas** es una librer√≠a de Python especializada en **an√°lisis y manipulaci√≥n de datos**.  

**Aporta:**
- Estructuras de datos de alto nivel (`Series` y `DataFrame`).  
- Herramientas r√°pidas para **cargar, limpiar, transformar, analizar y visualizar datos**.  
- Integraci√≥n con NumPy (c√°lculo eficiente) y con m√∫ltiples formatos de entrada/salida.

### <div style="color: #3056d5ff"> ¬øPor qu√© es tan importante en ciencia de datos? </div>

- üìä **Unifica** datos de diferentes fuentes en un solo formato est√°ndar: el DataFrame.  
- üõ†Ô∏è **Reduce esfuerzo**: muchas operaciones que ser√≠an complejas en Python puro se hacen en una sola l√≠nea.  
- üìà **Escalable**: permite trabajar tanto con peque√±os datasets como con millones de filas.  
- üîÑ **Flexible**: lectura, limpieza, transformaci√≥n, an√°lisis y exportaci√≥n de datos en un mismo flujo de trabajo.  

---

## <div style="background-color: #57ffcfff; padding: 6px; border-radius: 6px"> 1. Lectura y escritura de datos en **formato texto** </div>

En esta primera parte veremos un ejemplo con **CSV**, uno de los formatos m√°s **comunes, simples y f√°ciles de entender** para empezar a trabajar con datos.

Para trabajar con datos en Python, vamos a utilizar la librer√≠a **pandas** que nos permite leer datos de muchos formatos diferentes (CSV, Excel, JSON, SQL, etc.).

#### Opciones mas comunes y √∫tiles de `read_csv`
1. **`sep`** ‚Üí define el delimitador (`,` por defecto, puede ser `;`, `|`, `\s+`, etc.)
2. **`header`** ‚Üí fila usada como encabezado (`None` si no hay)
3. **`names`** ‚Üí lista de nombres de columnas
4. **`index_col`** ‚Üí columna que se usar√° como √≠ndice
5. **`skiprows`** ‚Üí filas que se saltan al leer
6. **`na_values`** ‚Üí valores a considerar como `NaN`
7. **`nrows`** ‚Üí n√∫mero de filas a leer
8. **`chunksize`** ‚Üí leer el archivo por partes (√∫til en archivos grandes)

La libreria **pd** de pandas es la libreria m√°s usada en Python para an√°lisis y manipulaci√≥n de datos.

**StringIO** es una utilidad de Python que permite tratar cadenas de texto como si fueran archivos. Se usa mucho para cargar datos directamente desde un string en memoria.

Con ambas estructuras es posible visualizar datos de un archivo CSV. *En este caso solo se mostraran los 10 primeros elementos del documento.*

In [2]:
import pandas as pd
from io import StringIO 
df = pd.read_csv("datasets/CarsDatasets2025.csv", encoding="latin1") #encoding="latin1" ‚Üí Especifica la codificaci√≥n de caracteres.
df.head(10) #Muestra las primeras 10 filas del DataFrame.

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm
5,BMW,Mclaren 720s,V8,"3,994 cc",710 hp,341 km/h,2.9 sec,"$499,000",Petrol,2,770 Nm
6,ASTON MARTIN,VANTAGE F1,V8,"3,982 cc",656 hp,314 km/h,3.6 sec,"$193,440",Petrol,2,685 Nm
7,BENTLEY,Continental GT Azure,V8,"3,996 cc",550 hp,318 km/h,4.0 sec,"$311,000",Petrol,4,900 Nm
8,LAMBORGHINI,VENENO ROADSTER,V12,"6,498 cc",750 hp,356 km/h,2.9 sec,"$4,500,000",Petrol,2,690 Nm
9,FERRARI,F8 TRIBUTO,V8,"3,900 cc",710 hp,340 km/h,2.9 sec,"$280,000",Petrol,2,770 Nm

> #### üìÑ Creaci√≥n de un CSV de ejemplo
>Vamos a crear un **string multil√≠nea** que simula un archivo CSV para mostrar cada una de las opciones mas comunes usadas:
>- üè∑Ô∏è **Primera l√≠nea** ‚Üí contiene los **nombres de las columnas** (`a, b, c, d, message`).  
>- üî¢ **Filas siguientes** ‚Üí contienen los **valores de cada columna**, separados por comas (`,`).  
>As√≠ se ver√≠a el archivo en crudo:

### <div style="color: #3056d5ff;"> CSV simple con encabezado </div>

In [3]:
csv_text = """a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo"""

df = pd.read_csv(StringIO(csv_text)) #lo transforma directamente en una tabla (DataFrame).
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### <div style="color: #3056d5ff;"> CSV con encabezado usando `header`</div>
Si solamente se usa `header`pandas asigna nombres genericos a las columnas

In [4]:
csv_noheader = """1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo"""

df_noheader = pd.read_csv(StringIO(csv_noheader), header=None)
df_noheader

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

### <div style="color: #3056d5ff;"> CSV con encabezados personalizados usando `names` </div>
Con el uso de `names` es posible asignar nombres personalizados a cada una de las columnas.

In [5]:
names = ['a', 'b', 'c', 'd', 'message']
df_named = pd.read_csv(StringIO(csv_noheader), names=names)
df_named

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### <div style="color: #3056d5ff;"> CSV con una columna definida como indice usando `index_col` </div>

In [6]:
df_indexed = pd.read_csv(StringIO(csv_noheader), names=names, index_col='message')
df_indexed

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

### <div style="color: #3056d5ff;"> Definir delimitador en CSV con delimitadores variados usando `sep` </div>

**Ejemplo con ";"**

In [7]:
csv_semicolon = """a;b;c;d;message
1;2;3;4;hello
5;6;7;8;world"""

df_semicolon = pd.read_csv(StringIO(csv_semicolon), sep=";")
df_semicolon

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

**Ejemplo con "espacio"**

*Usa una expresi√≥n regular para separar por uno o m√°s espacios*

In [8]:
csv_space = """A   B   C
aaa -0.2 -1.0
bbb  0.9  0.3
ccc -0.2 -0.3"""
df_space = pd.read_csv(StringIO(csv_space), sep=r"\s+")
df_space

     A    B    C
0  aaa -0.2 -1.0
1  bbb  0.9  0.3
2  ccc -0.2 -0.3

### <div style="color: #3056d5ff;"> Filas que se saltan al leer en un CSV usando `skiprows` </div>

In [9]:
csv_skip = """# comentario
a,b,c,d
1,2,3,4
5,6,7,8"""

df_skip = pd.read_csv(StringIO(csv_skip), skiprows=[0])
df_skip

   a  b  c  d
0  1  2  3  4
1  5  6  7  8

### <div style="color: #3056d5ff;"> Manejo de valores faltantes (NaN) en un CSV</div>

In [10]:
csv_na = """something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo"""

df_na = pd.read_csv(StringIO(csv_na))
df_na

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

### <div style="color: #3056d5ff;"> Leer un CSV completo</div>

In [11]:
result = pd.read_csv('datasets/lc_10000_rows.csv')
print(result)

     Unnamed: 0       X       id  load_entry_id file_descriptor  member_id  \
0        296192  296192  3316245    -2140141508              3c        NaN
1        219806  219806  3855783    -2140141507              3d        NaN
2        142772  142772  3710061    -2140141507              3d        NaN
3        433148  433148  3471924    -2140141508              3c        NaN
4        429639  429639  3468046    -2140141508              3c        NaN
..          ...     ...      ...            ...             ...        ...
995      611200  611200  3173716    -2140141509              3b        NaN
996      455023  455023  3496047    -2140141508              3c        NaN
997      586249  586249  3147029    -2140141509              3b        NaN
998      195032  195032  3810868    -2140141507              3d        NaN
999      573506  573506  3133282    -2140141509              3b        NaN

     loan_amnt  funded_amnt  funded_amnt_inv       term  ... hardship_amount  \
0        17600        17600            17600  36 months  ...             NaN
1         3600         3600             3600  36 months  ...             NaN
2        20000        20000            20000  36 months  ...             NaN
3        12000        12000            12000  36 months  ...             NaN
4        13075        13075            13075  36 months  ...             NaN
..         ...          ...              ...        ...  ...             ...
995      12575        12575            12575  36 months  ...             NaN
996       8000         8000             8000  36 months  ...             NaN
997      10575        10575            10575  36 months  ...             NaN
998       6000         6000             6000  36 months  ...             NaN
999      23850        23850            23850  60 months  ...             NaN

     hardship_start_date hardship_end_date payment_plan_start_date  \
0                    NaN               NaN                     NaN
1                    NaN               NaN                     NaN
2                    NaN               NaN                     NaN
3                    NaN               NaN                     NaN
4                    NaN               NaN                     NaN
..                   ...               ...                     ...
995                  NaN               NaN                     NaN
996                  NaN               NaN                     NaN
997                  NaN               NaN                     NaN
998                  NaN               NaN                     NaN
999                  NaN               NaN                     NaN

    hardship_length hardship_dpd hardship_loan_status  \
0               NaN          NaN                  NaN
1               NaN          NaN                  NaN
2               NaN          NaN                  NaN
3               NaN          NaN                  NaN
4               NaN          NaN                  NaN
..              ...          ...                  ...
995             NaN          NaN                  NaN
996             NaN          NaN                  NaN
997             NaN          NaN                  NaN
998             NaN          NaN                  NaN
999             NaN          NaN                  NaN

     orig_projected_additional_accrued_interest  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
..                                          ...
995                                         NaN
996                                         NaN
997                                         NaN
998                                         NaN
999                                         NaN

    hardship_payoff_balance_amount hardship_last_payment_amount
0                              NaN                          NaN
1                              NaN                          NaN
2                              NaN                          NaN
3                              NaN                          NaN
4                              NaN                          NaN
..                             ...                          ...
995                            NaN                          NaN
996                            NaN                          NaN
997                            NaN                          NaN
998                            NaN                          NaN
999                            NaN                          NaN

[1000 rows x 141 columns]

#### **üìù ¬øPor qu√© mi DataFrame se ve as√≠ con `...`?**
Cuando cargamos un CSV grande con **pandas**, muchas veces la salida aparece truncada:  
- `...` ‚Üí significa que pandas **recort√≥ filas o columnas** para no saturar la pantalla.  
- La tabla aparece **partida en bloques** porque hay demasiadas columnas para el ancho disponible.  
- Columnas como **`Unnamed: 0`** aparecen porque el CSV fue guardado con el √≠ndice y pandas lo ley√≥ como una columna m√°s. 
  
#### **¬øüëÄ C√≥mo mejorar la visualizaci√≥n?**
Podemos cambiar las opciones de display de pandas:

* pd.set_option("display.max_columns", None)   # mostrar todas las columnas
* pd.set_option("display.max_rows", 50)        # hasta 50 filas
* pd.set_option("display.width", 0)            # usa todo el ancho de la pantalla
* pd.set_option("display.max_colwidth", None)  # no cortar strings
* pd.set_option("display.expand_frame_repr", False)  # evita partir la tabla en bloques

In [12]:
pd.set_option("display.max_rows", 50)        # hasta 50 filas
result.head(50)

,Unnamed: 0,X,id,load_entry_id,file_descriptor,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,...,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount
0,296192,296192,3316245,-2140141508,3c,NaN,17600,17600,17600,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,219806,219806,3855783,-2140141507,3d,NaN,3600,3600,3600,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,142772,142772,3710061,-2140141507,3d,NaN,20000,20000,20000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,433148,433148,3471924,-2140141508,3c,NaN,12000,12000,12000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,429639,429639,3468046,-2140141508,3c,NaN,13075,13075,13075,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,32492,32492,4257023,-2140141504,2016Q3,NaN,12000,12000,12000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,129099,129099,3681149,-2140141507,3d,NaN,8925,8925,8925,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,258046,258046,3920195,-2140141507,3d,NaN,11000,11000,11000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,642811,642811,3207025,-2140141509,3b,NaN,14400,14400,14375,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,593146,593146,3154446,-2140141509,3b,NaN,21000,21000,21000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,168851,168851,3761868,-2140141507,3d,NaN,10000,10000,10000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,697107,697107,3262271,-2140141509,3b,NaN,14800,14800,14800,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,367045,367045,3397473,-2140141508,3c,NaN,6000,6000,6000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,603865,603865,3165897,-2140141509,3b,NaN,24575,24575,24575,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,458813,458813,3500178,-2140141508,3c,NaN,35000,35000,35000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,610190,610190,3172642,-2140141509,3b,NaN,19750,19750,19750,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,661360,661360,3226267,-2140141509,3b,NaN,34200,34200,34175,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,743663,743663,4153827,-2140141505,2016Q2,NaN,9575,9575,9575,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,641112,641112,3205247,-2140141509,3b,NaN,18200,18200,18200,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,95029,95029,3606074,-2140141507,3d,NaN,14000,14000,14000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,173922,173922,3771696,-2140141507,3d,NaN,12000,12000,12000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,544643,544643,3102118,-2140141509,3b,NaN,28000,28000,28000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,682072,682072,3247236,-2140141509,3b,NaN,20675,20675,20675,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,302111,302111,3323133,-2140141508,3c,NaN,15125,15125,15125,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,395588,395588,3429951,-2140141508,3c,NaN,35000,35000,35000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,159505,159505,3743490,-2140141507,3d,NaN,35000,35000,35000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,270302,270302,3282781,-2140141508,3c,NaN,1000,1000,1000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,53819,53819,4358059,-2140141503,2016Q4,NaN,24000,24000,24000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,68649,68649,3543268,-2140141507,3d,NaN,30000,30000,30000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,68159,68159,3542000,-2140141507,3d,NaN,16800,16800,16800,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,686017,686017,3251181,-2140141509,3b,NaN,2000,2000,2000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,43168,43168,4307538,-2140141503,2016Q4,NaN,36000,36000,36000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,149412,149412,3723629,-2140141507,3d,NaN,30000,30000,29875,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,429620,429620,3468024,-2140141508,3c,NaN,12000,12000,12000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,156672,156672,3737922,-2140141507,3d,NaN,21000,21000,21000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,584497,584497,3145146,-2140141509,3b,NaN,10475,10475,10475,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,257228,257228,3918921,-2140141507,3d,NaN,20000,20000,20000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,7976,7976,4570295,-2140141501,2017Q2,NaN,35000,35000,35000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,79986,79986,3570528,-2140141507,3d,NaN,8500,8500,8500,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,386209,386209,3419278,-2140141508,3c,NaN,12000,12000,12000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,697712,697712,3262876,-2140141509,3b,NaN,16000,16000,16000,60 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,398418,398418,3433122,-2140141508,3c,NaN,13900,13900,13900,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,461966,461966,3503603,-2140141508,3c,NaN,9000,9000,9000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,81697,81697,3574570,-2140141507,3d,NaN,25000,25000,25000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,284438,284438,3302032,-2140141508,3c,NaN,20000,20000,20000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,684642,684642,3249806,-2140141509,3b,NaN,30000,30000,29750,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,138992,138992,3702182,-2140141507,3d,NaN,4700,4700,4700,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,735652,735652,4127920,-2140141505,2016Q2,NaN,13500,13500,13500,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,510259,510259,4042813,-2140141506,2016Q1,NaN,2100,2100,2100,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,318653,318653,3342415,-2140141508,3c,NaN,7000,7000,7000,36 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Cuando trabajamos con **archivos CSV muy grandes**, cargarlos completos puede ser ineficiente o incluso imposible si no entran en memoria.  
Para resolver esto, `pandas` ofrece dos opciones muy √∫tiles: **`nrows`** y **`chunksize`**.

### <div style="color: #3056d5ff;"> Leer solo las primeras 5 filas de un CSV grande usando `nrows`</div>

In [13]:
small_sample = pd.read_csv("datasets/CarsDatasets2025.csv", encoding="latin1",  nrows=5)
print(small_sample)

  Company Names     Cars Names      Engines CC/Battery Capacity HorsePower  \
0       FERRARI  SF90 STRADALE           V8             3990 cc     963 hp
1   ROLLS ROYCE        PHANTOM          V12             6749 cc     563 hp
2          Ford            KA+  1.2L Petrol            1,200 cc   70-85 hp
3      MERCEDES        GT 63 S           V8            3,982 cc     630 hp
4          AUDI     AUDI R8 Gt          V10            5,204 cc     602 hp

  Total Speed Performance(0 - 100 )KM/H      Cars Prices       Fuel Types  \
0    340 km/h                   2.5 sec      $1,100,000   plug in hyrbrid
1    250 km/h                   5.3 sec        $460,000            Petrol
2    165 km/h                  10.5 sec  $12,000-$15,000           Petrol
3    250 km/h                   3.2 sec        $161,000            Petrol
4    320 km/h                   3.6 sec        $253,290            Petrol

   Seats        Torque
0      2        800 Nm
1      5        900 Nm
2      5  100 - 140 Nm
3      4        900 Nm
4      2        560 Nm

### <div style="color: #3056d5ff;"> Leer un CSV en bloques usando `chunksize` </div>

Cuando un archivo es demasiado grande para cargarlo completo en memoria, podemos leerlo **por partes** utilizando el par√°metro `chunksize`.

- Cada **chunk** (bloque) contiene la cantidad de filas que definamos.  
- Esto permite procesar archivos grandes de forma **eficiente y sin saturar la memoria**.

In [14]:
ruta = "datasets/CarsDatasets2025.csv"
chunker = pd.read_csv(ruta, encoding="latin1", chunksize=250) # Crear iterador que lee el archivo en bloques de 100 filas
for i, piece in enumerate(chunker, start=1): # Recorrer y mostrar cada bloque de 100
    print(f"\n--- Bloque {i} ---")
    print(piece)

--- Bloque 1 ---
    Company Names             Cars Names                     Engines  \
0         FERRARI          SF90 STRADALE                          V8
1     ROLLS ROYCE                PHANTOM                         V12
2            Ford                    KA+                 1.2L Petrol
3        MERCEDES                GT 63 S                          V8
4            AUDI             AUDI R8 Gt                         V10
..            ...                    ...                         ...
245        TOYOTA  PROACE VERSO ELECTRIC              ELECTRIC MOTOR
246        TOYOTA            CENTURY SUV      3.5L,V6,PLUG IN HYBRID
247        TOYOTA   COROLLA SEDAN HYBRID                 1.8L,HYBRID
248        TOYOTA                    BZ3              ELECTRIC MOTOR
249        TOYOTA               GR YARIS  1.6L,TURBOCHARGED INLINE-3

    CC/Battery Capacity HorsePower Total Speed Performance(0 - 100 )KM/H  \
0               3990 cc     963 hp    340 km/h                   2.5 sec
1               6749 cc     563 hp    250 km/h                   5.3 sec
2              1,200 cc   70-85 hp    165 km/h                  10.5 sec
3              3,982 cc     630 hp    250 km/h                   3.2 sec
4              5,204 cc     602 hp    320 km/h                   3.6 sec
..                  ...        ...         ...                       ...
245              75 KWH     136 hp    130 km/h                  13.5 sec
246            3,456 cc     406 hp    200 km/h                   6.0 sec
247            1,798 cc     134 hp    180 km/h                  10.0 sec
248              65 KWH     241 hp    160 km/h                   7.5 sec
249            1,618 cc     268 hp    230 km/h                   5.5 sec

         Cars Prices       Fuel Types Seats        Torque
0        $1,100,000   plug in hyrbrid     2        800 Nm
1          $460,000            Petrol     5        900 Nm
2    $12,000-$15,000           Petrol     5  100 - 140 Nm
3          $161,000            Petrol     4        900 Nm
4          $253,290            Petrol     2        560 Nm
..               ...              ...   ...           ...
245         $55,000          Electric     7        280 Nm
246        $170,000            Petrol     5        500 Nm
247         $24,000            Hybrid     5        300 Nm
248         $35,000          Electric     5        340 Nm
249         $45,000            Petrol     4        390 Nm

[250 rows x 11 columns]

--- Bloque 2 ---
    Company Names              Cars Names  \
250       HYUNDAI                SANTA FE
251       HYUNDAI                 IONIQ 5
252       HYUNDAI              Santa Cruz
253       HYUNDAI                    Kona
254       HYUNDAI                 Elantra
..            ...                     ...
495        Nissan   Datsun 240Z (Classic)
496        Nissan                   100NX
497        Nissan  Cedric Special Edition
498        Nissan             300ZX Turbo
499        Nissan       Silvia S15 Spec-R

                                 Engines CC/Battery Capacity HorsePower  \
250  1.6L PETROL + PLUG IN HYBRID SYSTEM            1,600 cc     253 hp
251                       ELECTRIC MOTOR            72.6 KWH     225 hp
252           2.5L Turbocharged Inline-4            2,500 cc     281 hp
253                         1.6L PETROL             1,591 cc     147 hp
254                        2.0L Inline-4            2,000 cc     147 hp
..                                   ...                 ...        ...
495                        2.4L Inline-6             2393 cc     151 HP
496                        1.6L Inline-4             1597 cc     110 HP
497                              3.0L V6             2960 cc     250 HP
498                   3.0L Twin-Turbo V6             2960 cc     300 HP
499                  2.0L Turbo Inline-4             1998 cc     250 HP

    Total Speed Performance(0 - 100 )KM/H Cars Prices     Fuel Types  Seats  \
250    180 km/h                   9.3 sec    $50,000   Petrol/Hybrid      7
251    185 km/h                   7.4 sec    $41,000        Electric      5
252    215 km/h                   6.5 sec    $40,799          Petrol      5
253    185 km/h                 10. 5 sec    $20,500       Petrol/EV      5
254    210 km/h                   8.3 sec    $19,950   Petrol/Hybrid      5
..          ...                       ...         ...            ...    ...
495    210 km/h                   8.0 sec    $45,000          Petrol      2
496    185 km/h                   9.6 sec    $18,000          Petrol      4
497    225 km/h                   8.5 sec    $60,000          Petrol      5
498    250 km/h                   5.9 sec    $55,000          Petrol      4
499    240 km/h                   5.6 sec    $35,000          Petrol      4

     Torque
250  420 Nm
251  350 Nm
252  400 Nm
253  400 Nm
254  250 Nm
..      ...
495  198 Nm
496  135 Nm
497  330 Nm
498  384 Nm
499  300 Nm

[250 rows x 11 columns]

--- Bloque 3 ---
    Company Names             Cars Names                       Engines  \
500        Nissan                  NV400          2.3L Inline-4 Diesel
501        Nissan          Titan Warrior                       5.6L V8
502        Nissan          Caravan Coach          2.5L Inline-4 Diesel
503        Nissan         Serena e-Power                   1.2L Hybrid
504        Nissan                Elgrand                       3.5L V6
..            ...                    ...                           ...
745     Chevrolet              Blazer LT        2.5L Inline-4 Gasoline
746     Chevrolet         Malibu Premier  2.0L Turbo Inline-4 Gasoline
747     Chevrolet             Equinox RS  1.5L Turbo Inline-4 Gasoline
748     Chevrolet  Silverado 1500 Custom              4.3L V6 Gasoline
749     Chevrolet   Silverado 2500HD LTZ                6.6L V8 Diesel

    CC/Battery Capacity HorsePower Total Speed Performance(0 - 100 )KM/H  \
500             2298 cc     135 HP    150 km/h                  15.0 sec
501             5552 cc     400 HP    180 km/h                   7.0 sec
502             2498 cc     127 HP    140 km/h                  14.0 sec
503             1198 cc     134 HP    160 km/h                  12.0 sec
504             3498 cc     280 HP    200 km/h                   8.5 sec
..                  ...        ...         ...                       ...
745             2500 cc     193 hp    200 km/h                   9.0 sec
746             2000 cc     250 hp    240 km/h                   5.8 sec
747             1500 cc     170 hp    200 km/h                   8.8 sec
748             4300 cc     285 hp    180 km/h                   8.6 sec
749             6600 cc     445 hp    160 km/h                   8.4 sec

    Cars Prices Fuel Types  Seats   Torque
500    $40,000      Diesel      3   360 Nm
501    $55,000      Petrol      5   560 Nm
502    $30,000      Diesel      7   260 Nm
503    $35,000      Hybrid      7   320 Nm
504    $50,000      Petrol      7   344 Nm
..          ...        ...    ...      ...
745    $36,100      Petrol      5   255 Nm
746    $34,500      Petrol      5   353 Nm
747    $31,900      Petrol      5   275 Nm
748    $34,900      Petrol      6   413 Nm
749    $56,400      Diesel      6  1234 Nm

[250 rows x 11 columns]

--- Bloque 4 ---
    Company Names                          Cars Names                Engines  \
750     Chevrolet                           Tahoe RST       5.3L V8 Gasoline
751     Chevrolet                         Suburban LT       5.3L V8 Gasoline
752     Chevrolet                     Bolt EV Premier  Single Electric Motor
753     Chevrolet                            Tahoe LS       5.3L V8 Gasoline
754     Chevrolet                            Tahoe LT       5.3L V8 Gasoline
..            ...                                 ...                    ...
995       Peugeot                     Expert Electric         Electric Motor
996       Peugeot  208 PSE (Peugeot Sport Engineered)              Hybrid I4
997       Peugeot                             308 PSE              Hybrid I4
998       Peugeot                             508 PSE              Hybrid I4
999       Peugeot                            3008 PSE              Hybrid I4

                    CC/Battery Capacity HorsePower Total Speed  \
750                             5300 cc     355 hp    180 km/h
751                             5300 cc     355 hp    180 km/h
752                              66 kWh     200 hp    150 km/h
753                             5300 cc     355 hp    180 km/h
754                             5300 cc     355 hp    180 km/h
..                                  ...        ...         ...
995                                   -     136 hp    130 km/h
996  1,598 cc (petrol) + Electric Motor     225 hp    250 km/h
997  1,598 cc (petrol) + Electric Motor     360 hp    250 km/h
998  1,598 cc (petrol) + Electric Motor     360 hp    250 km/h
999  1,598 cc (petrol) + Electric Motor     300 hp    235 km/h

    Performance(0 - 100 )KM/H Cars Prices Fuel Types  Seats  Torque
750                   7.4 sec    $64,100      Petrol      7  519 Nm
751                   5.1 sec    $64,400      Petrol      8  519 Nm
752                   6.5 sec    $31,700    Electric      5  360 Nm
753                   7.5 sec    $56,995      Petrol      8  519 Nm
754                   7.4 sec    $62,495      Petrol      8  519 Nm
..                        ...         ...        ...    ...     ...
995                   9.5 sec    $45,000    Electric      5  260 Nm
996                   5.5 sec    $45,000      Hybrid      5  360 Nm
997                   5.0 sec    $55,000      Hybrid      5  520 Nm
998                   5.2 sec    $60,000      Hybrid      5  520 Nm
999                   6.0 sec    $50,000      Hybrid      5  400 Nm

[250 rows x 11 columns]

--- Bloque 5 ---
     Company Names           Cars Names                             Engines  \
1000       Peugeot          2008 Active                            Inline-4
1001       Peugeot          3008 Active                            Inline-4
1002       Peugeot          5008 Active                            Inline-4
1003       Peugeot  3008 Allure Premium                            Inline-4
1004       Peugeot  5008 Allure Premium                            Inline-4
...            ...                  ...                                 ...
1213        Toyota         Crown Signia                      2.5L Hybrid I4
1214        Toyota    4Runner (6th Gen)  2.4L Turbo I4 (i-FORCE MAX Hybrid)
1215        Toyota        Corolla Cross              2.0L Gas / 2.0L Hybrid
1216        Toyota               C-HR+                   1.8L / 2.0L Hybrid
1217        Toyota       RAV4 (6th Gen)        2.5L Hybrid / Plug-in Hybrid

        CC/Battery Capacity    HorsePower Total Speed  \
1000               1,199 cc        100 hp    190 km/h
1001               1,499 cc        130 hp    200 km/h
1002               1,499 cc        130 hp    190 km/h
1003               1,499 cc        130 hp    200 km/h
1004               1,499 cc        130 hp    190 km/h
...                     ...           ...         ...
1213                2487 cc        240 hp    180 km/h
1214      2393 cc + Battery        326 hp    180 km/h
1215  1987 cc / Hybrid batt  169 ¬ñ 196 hp    190 km/h
1216  1798 / 1987 cc + batt  140 ¬ñ 198 hp    180 km/h
1217         2487 cc + batt  219 ¬ñ 302 hp    200 km/h

     Performance(0 - 100 )KM/H        Cars Prices               Fuel Types  \
1000                  11.2 sec           $22,000                    Petrol
1001                  10.0 sec           $30,000                    Petrol
1002                  10.5 sec           $33,000                    Petrol
1003                   9.8 sec           $32,000                    Petrol
1004                  10.2 sec           $35,000                    Petrol
...                        ...                ...                      ...
1213                   7.6 sec  $43,590 ¬ñ $48,000  Hybrid (Gas + Electric)
1214                   6.8 sec           $50,000                    Hybrid
1215             8.0 ¬ñ 9.2 sec  $25,210 ¬ñ $29,135             Gas / Hybrid
1216            7.9 ¬ñ 10.5 sec           ¬Ä 33,000                   Hybrid
1217             6.0 ¬ñ 8.1 sec  $29,000 ¬ñ $43,000         Hybrid / Plug-in

     Seats        Torque
1000     5        205 Nm
1001     5        240 Nm
1002     7        240 Nm
1003     5        240 Nm
1004     7        240 Nm
...    ...           ...
1213     5        239 Nm
1214     7        630 Nm
1215     5  190 ¬ñ 210 Nm
1216     5  190 ¬ñ 205 Nm
1217     5  221 ¬ñ 400 Nm

[218 rows x 11 columns]

---
## <div style="background-color: #57ffcfff; padding: 6px; border-radius: 6px"> 2. Formatos de datos **binarios** </div>

Los **formatos binarios** almacenan la informaci√≥n en una representaci√≥n **compacta** que:  

- No es legible directamente para las personas.  
- Es mucho m√°s eficiente para las computadoras.  

### <div style="color: #3056d5ff;"> Componentes principales </div>

1. **Serializaci√≥n**  ‚Üí Guardar un objeto en disco (transformarlo en bytes).  

2. **Deserializaci√≥n**  ‚Üí Recuperar el objeto desde el archivo (volver a tenerlo en memoria).

### <div style="color: #3056d5ff;"> Leer un CSV usando `Pickle` </div>
Permite guardar **objetos completos de Python** (listas, diccionarios, DataFrames, modelos de Machine Learning). Es **muy r√°pido** para guardar y recuperar datos (serializar y deserializar).

> **Pickle** es como una ‚Äúfoto exacta‚Äù de un objeto en Python que despu√©s pod√©s volver a usar sin perder nada.

In [15]:
# Leemos un CSV
df = pd.read_csv("datasets/CarsDatasets2025.csv", encoding="latin1")

# =============================
# üîπ Guardar y leer con Pickle
# =============================
df.to_pickle("frame_pickle.pkl")     # Serializamos en formato binario
df_pickle = pd.read_pickle("frame_pickle.pkl")  # Deserializamos
print("\nLe√≠do desde Pickle:")
print(df_pickle.head())

Le√≠do desde Pickle:
  Company Names     Cars Names      Engines CC/Battery Capacity HorsePower  \
0       FERRARI  SF90 STRADALE           V8             3990 cc     963 hp
1   ROLLS ROYCE        PHANTOM          V12             6749 cc     563 hp
2          Ford            KA+  1.2L Petrol            1,200 cc   70-85 hp
3      MERCEDES        GT 63 S           V8            3,982 cc     630 hp
4          AUDI     AUDI R8 Gt          V10            5,204 cc     602 hp

  Total Speed Performance(0 - 100 )KM/H      Cars Prices       Fuel Types  \
0    340 km/h                   2.5 sec      $1,100,000   plug in hyrbrid
1    250 km/h                   5.3 sec        $460,000            Petrol
2    165 km/h                  10.5 sec  $12,000-$15,000           Petrol
3    250 km/h                   3.2 sec        $161,000            Petrol
4    320 km/h                   3.6 sec        $253,290            Petrol

  Seats        Torque
0     2        800 Nm
1     5        900 Nm
2     5  100 - 140 Nm
3     4        900 Nm
4     2        560 Nm

### <div style="color: #3056d5ff;"> Leer un CSV usando `Parquet` </div>
Permite leer solo las columnas que se necesita **es muy eficiente**.

#### <div style="color: #40d530ff;"> Ventajas de **Parquet** </div>
- Dise√±ado para **almacenar grandes vol√∫menes de datos** de manera eficiente.  
- Usa **almacenamiento por columnas** y soporta **compresi√≥n** ‚Üí ocupa menos espacio y es m√°s r√°pido que CSV o Excel.  
- Permite **leer solo las columnas necesarias** sin cargar todo el dataset.  

> Ejemplo: Si ten√©s un dataset con **100 columnas** y solo necesit√°s 3, **Parquet** carga solo esas 3 ‚Üí mucho m√°s r√°pido que CSV, que obliga a leer todo.

In [16]:
import pandas as pd

df = pd.read_csv("datasets/CarsDatasets2025.csv", encoding="latin1")

# =============================
# üîπ Guardar y leer con Parquet
# =============================

#Guardar el DataFrame en formato Parquet (binario, r√°pido y comprimido)
df.to_parquet("frame_parquet.parquet", engine="pyarrow", compression="snappy")
#Leer el archivo Parquet y volver a tenerlo en memoria como DataFrame
df_parquet = pd.read_parquet("frame_parquet.parquet", engine="pyarrow")
print("\nLe√≠do desde Parquet:")
print(df_parquet.head())

# Ejemplo: leer solo una columna desde parquet (optimizado)
df_columna = pd.read_parquet("frame_parquet.parquet", columns=["Company Names"])
print("\nLectura optimizada (solo la columna 'Company Names'):")
print(df_columna.head())

Le√≠do desde Parquet:
  Company Names     Cars Names      Engines CC/Battery Capacity HorsePower  \
0       FERRARI  SF90 STRADALE           V8             3990 cc     963 hp
1   ROLLS ROYCE        PHANTOM          V12             6749 cc     563 hp
2          Ford            KA+  1.2L Petrol            1,200 cc   70-85 hp
3      MERCEDES        GT 63 S           V8            3,982 cc     630 hp
4          AUDI     AUDI R8 Gt          V10            5,204 cc     602 hp

  Total Speed Performance(0 - 100 )KM/H      Cars Prices       Fuel Types  \
0    340 km/h                   2.5 sec      $1,100,000   plug in hyrbrid
1    250 km/h                   5.3 sec        $460,000            Petrol
2    165 km/h                  10.5 sec  $12,000-$15,000           Petrol
3    250 km/h                   3.2 sec        $161,000            Petrol
4    320 km/h                   3.6 sec        $253,290            Petrol

  Seats        Torque
0     2        800 Nm
1     5        900 Nm
2     5  100 - 140 Nm
3     4        900 Nm
4     2        560 Nm

Lectura optimizada (solo la columna 'Company Names'):
  Company Names
0       FERRARI
1   ROLLS ROYCE
2          Ford
3      MERCEDES
4          AUDI

### <div style="color: #3056d5ff"> ¬øPor qu√© usar binario en lugar de CSV/Excel? </div> 
- **Rendimiento**: guardar y cargar en binario es mucho m√°s r√°pido y consume menos recursos.  
- **Fidelidad de los datos**: se conserva toda la estructura interna de pandas (√≠ndices, tipos y formatos) sin p√©rdida de informaci√≥n.  

#### <div style="background-color: #fff457ff; padding: 6px; border-radius: 6px;"> <div style="color: #3056d5ff; font-weight: bold"> ‚ö†Ô∏è Consideraci√≥n </div> El formato binario es muy eficiente para trabajar dentro de pandas, pero **no siempre es el m√°s conveniente para almacenamiento o intercambio a largo plazo**, ya que depende de la compatibilidad entre versiones. </div>

---
## <div style="background-color: #57ffcfff; padding: 6px; border-radius: 6px"> 3. Interacci√≥n con **APIs web** JSON en Python</div>

**JSON (JavaScript Object Notation)** es un formato est√°ndar para enviar datos por HTTP entre aplicaciones (por ejemplo, entre un navegador y una API).

### <div style="color: #d89332ff;"> Ventajas </div>
- Es m√°s flexible que formatos tabulares como **CSV**.
- Permite estructuras **jer√°rquicas** y **anidadas**.

### <div style="color: #d89332ff;"> Tipos b√°sicos de JSON </div>

- **Objetos** ‚Üí equivalen a **diccionarios (`dict`)** en Python.
- **Arreglos (arrays)** ‚Üí equivalen a **listas (`list`)** en Python.
- **Cadenas (strings)**  
- **N√∫meros**  
- **Booleanos (`true` / `false`)**  
- **null** ‚Üí en Python se convierte en **`None`**.

### <div style="color: #d89332ff;"> Uso en Python con `requests` y `pandas` </div> 

- `response.json()` ‚Üí convierte el **JSON** en un **diccionario de Python** (igual que en el ejemplo del PDF con `json.loads()`).
- A partir de ah√≠, puedes extraer una **lista** de objetos JSON (por ejemplo, `"products"`) y convertirla en un **DataFrame de pandas**.
- Con el DataFrame puedes **explorar columnas** y **analizar los datos** f√°cilmente.

In [64]:
import json ##
import requests

print(" Obteniendo datos de productos desde DummyJSON...")

try:
    # 1. Obtener lista de productos
    url = "https://dummyjson.com/products"
    response = requests.get(url, timeout=10)
    
    if response.status_code == 200:
        data = response.json()
        
        # DummyJSON devuelve los datos en formato: {"products": [...], "total": N, "skip": 0, "limit": 30}
        products = data.get('products', [])
        
        print(f"‚úÖ {len(products)} productos obtenidos exitosamente")
        print(f"üìä Total en la API: {data.get('total', 'N/A')} productos")
        
        # Convertir a DataFrame
        df_products = pd.DataFrame(products)
        
        print(f"üìã Columnas disponibles: {list(df_products.columns)}")
        print(f"üìè Dimensiones: {df_products.shape}")
        
        # Mostrar primeros productos
        print("\nüîç Primeros 5 productos:")
        columns_to_show = ['id', 'title', 'price', 'category', 'brand', 'rating']
        print(df_products[columns_to_show].head())
        
    else:
        print(f"‚ùå Error: {response.status_code} - {response.text}")
        
except requests.exceptions.RequestException as e:
    print(f"‚ùå Error de conexi√≥n: {e}")
except Exception as e:
    print(f"‚ùå Error inesperado: {e}")

 Obteniendo datos de productos desde DummyJSON...
‚úÖ 30 productos obtenidos exitosamente
üìä Total en la API: 194 productos
üìã Columnas disponibles: ['id', 'title', 'description', 'category', 'price', 'discountPercentage', 'rating', 'stock', 'tags', 'brand', 'sku', 'weight', 'dimensions', 'warrantyInformation', 'shippingInformation', 'availabilityStatus', 'reviews', 'returnPolicy', 'minimumOrderQuantity', 'meta', 'images', 'thumbnail']
üìè Dimensiones: (30, 22)

üîç Primeros 5 productos:
   id                          title  price category           brand  rating
0   1  Essence Mascara Lash Princess   9.99   beauty         Essence    2.56
1   2  Eyeshadow Palette with Mirror  19.99   beauty  Glamour Beauty    2.86
2   3                Powder Canister  14.99   beauty    Velvet Touch    4.64
3   4                   Red Lipstick  12.99   beauty  Chic Cosmetics    4.36
4   5                Red Nail Polish   8.99   beauty    Nail Couture    4.32

---
## <div style="background-color: #57ffcfff; padding: 6px; border-radius: 6px"> 4. Interaccion con **Bases de datos** </div>
En muchas aplicaciones los datos rara vez provienen de archivos de texto, siendo bastante ineficiente para grandes vol√∫menes. Por eso se usan bases de datos SQL como SQL Server, PostgreSQL, MySQL, o SQLite‚Ä¶

df = pd.read_csv("datasets/CarsDatasets2025.csv", encoding="latin1")

# =============================
# üîπ Guardar y leer con Parquet
# =============================

# ¬øQu√© es "engine"? 
# ‚Üí Es la librer√≠a que hace el trabajo pesado. "pyarrow" es la m√°s com√∫n y r√°pida.
# ¬øQu√© es "compression"? 
# ‚Üí Es como "comprimir un ZIP". "snappy" es r√°pido, "gzip" comprime m√°s pero es m√°s lento.

df.to_parquet("frame_parquet.parquet", engine="pyarrow", compression="snappy")
df_parquet = pd.read_parquet("frame_parquet.parquet", engine="pyarrow")
print("\nLe√≠do desde Parquet:")
print(df_parquet.head())

# Ejemplo: leer solo una columna desde parquet (optimizado)
# Ventaja: Parquet permite leer solo las columnas que necesitas (muy eficiente)
df_columna = pd.read_parquet("frame_parquet.parquet", columns=["Marca"])
print("\nLectura optimizada (solo la columna 'Marca'):")
print(df_columna.head())

In [18]:
import sqlite3

# üöÄ Crear base de datos en memoria
con = sqlite3.connect(":memory:")

# Crear tabla de pel√≠culas
query = """
CREATE TABLE peliculas (
    titulo VARCHAR(50),
    genero VARCHAR(20),
    rating REAL,
    anio INTEGER
);
"""
con.execute(query)
con.commit()

# Insertar datos
data = [
    ("Inception", "Sci-Fi", 8.8, 2010),
    ("The Godfather", "Crime", 9.2, 1972),
    ("Interstellar", "Sci-Fi", 8.6, 2014),
    ("Parasite", "Thriller", 8.6, 2019),
    ("Coco", "Animation", 8.4, 2017)
]
con.executemany("INSERT INTO peliculas VALUES (?, ?, ?, ?)", data)
con.commit()

# üìä Consultar datos y pasarlos a un DataFrame
cursor = con.execute("SELECT * FROM peliculas")
rows = cursor.fetchall()
cols = [desc[0] for desc in cursor.description]

df_sql = pd.DataFrame(rows, columns=cols)
df_sql

          titulo     genero  rating  anio
0      Inception     Sci-Fi     8.8  2010
1  The Godfather      Crime     9.2  1972
2   Interstellar     Sci-Fi     8.6  2014
3       Parasite   Thriller     8.6  2019
4           Coco  Animation     8.4  2017

### <div style="color: #3056d5ff;"> Ejemplo con MongoDB usando `MongoClient` </div>
**Vamos a crear y consultar una base de datos SQL (SQLite en memoria)** y mostrar c√≥mo **cargar datos en un DataFrame de pandas** para analizarlos de manera m√°s sencilla.

Estos son los pasos que debemos seguir:
1. Conectamos a MongoDB con MongoClient.
2. Insertamos una lista de libros famosos como documentos.
3. Consultamos con find() y convertimos el resultado en DataFrame.

In [19]:
from pymongo import MongoClient  # Importa la librer√≠a para conectar a MongoDB
import pandas as pd  # Importa pandas para crear DataFrames

# URL de conexi√≥n a MongoDB Atlas (base de datos en la nube)
MONGO_URI = "mongodb+srv://leandro:LwNEUhSqRRaqP9Iw@cluster0.9zswgmv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

try:
    # üöÄ Conectar a MongoDB Atlas usando la URL
    client = MongoClient(MONGO_URI) 
    
    # Seleccionar base de datos llamada "ejemplo_db"
    db = client["ejemplo_db"]
    
    # Seleccionar colecci√≥n (equivale a tabla en SQL) llamada "libros"
    coleccion = db["libros"]

    # Lista de libros famosos con sus datos
    libros_data = [
        {"titulo": "Cien A√±os de Soledad", "autor": "Gabriel Garc√≠a M√°rquez", "ventas_millones": 50},
        {"titulo": "Don Quijote de la Mancha", "autor": "Miguel de Cervantes", "ventas_millones": 500},
        {"titulo": "Harry Potter y la Piedra Filosofal", "autor": "J.K. Rowling", "ventas_millones": 120},
        {"titulo": "El Principito", "autor": "Antoine de Saint-Exup√©ry", "ventas_millones": 140},
        {"titulo": "It", "autor": "Stephen King", "ventas_millones": 35}
    ]

    # Borrar todos los documentos anteriores de la colecci√≥n (para evitar duplicados)
    coleccion.delete_many({})
    
    # Insertar todos los libros de una vez en MongoDB
    result = coleccion.insert_many(libros_data)
    print(f"‚úÖ {len(result.inserted_ids)} libros insertados")

    # üìä Consultar todos los documentos de la colecci√≥n
    cursor = coleccion.find({})  # find({}) = traer todos los documentos
    
    # Convertir los documentos de MongoDB en un DataFrame de pandas
    df_mongo = pd.DataFrame(list(cursor))
    
    # Eliminar la columna '_id' porque es t√©cnica y no nos interesa
    if '_id' in df_mongo.columns:
        df_mongo = df_mongo.drop('_id', axis=1)
    
    print("\nüìö Libros en MongoDB:")
    print(df_mongo)  # Mostrar como texto
    
    # Mostrar el DataFrame en formato visual (tabla bonita)
    df_mongo

except Exception as e:
    # Si algo sale mal, mostrar el error
    print(f"‚ùå Error de conexi√≥n: {e}")
    print("üí° Verifica tu conexi√≥n a internet y las credenciales")

‚úÖ 5 libros insertados

üìö Libros en MongoDB:
                               titulo                     autor  \
0                Cien A√±os de Soledad    Gabriel Garc√≠a M√°rquez
1            Don Quijote de la Mancha       Miguel de Cervantes
2  Harry Potter y la Piedra Filosofal              J.K. Rowling
3                       El Principito  Antoine de Saint-Exup√©ry
4                                  It              Stephen King

   ventas_millones
0               50
1              500
2              120
3              140
4               35