# üìò Introducci√≥n al An√°lisis de Datos

En an√°lisis de datos, todo comienza con **leer datos** üìä.  
Sin embargo, los datos pueden venir en **m√∫ltiples formatos** y cada uno requiere t√©cnicas espec√≠ficas para manejarlos.

---

## üîπ Principales fuentes y formatos de datos

### 1. Lectura y escritura de datos en **formato texto**
- Uso de funciones **`read_csv`** y **`read_table`** de `pandas`.
- Manejo de **delimitadores** (`,` `;` `\t`).
- Configuraci√≥n de **encabezados y tipos de datos**.
- Opciones para trabajar con **archivos grandes** y **manejar errores** en la lectura.

---

### 2. Formatos de datos **binarios**
- Ventajas de formatos como **Pickle**, **HDF5** y **Parquet**.
- Optimizaci√≥n para trabajar con **grandes vol√∫menes de datos**.
- Procesos de **serializaci√≥n y deserializaci√≥n** (guardar y recuperar objetos de Python).

---

### 3. Interacci√≥n con **APIs web**
- Consumo de datos en **JSON** mediante **APIs REST**.
- Procesamiento de las respuestas directamente con `pandas`.
- Manejo de **autenticaci√≥n**, **paginaci√≥n** y otras consideraciones al consumir APIs.

---

### 4. Interacci√≥n con **bases de datos**
- Conexi√≥n a bases de datos **SQL** (SQLite, MySQL, PostgreSQL, etc.).
- Ejecuci√≥n de consultas y carga de resultados en un **DataFrame**.
- Uso de **SQLAlchemy** para integraci√≥n fluida con `pandas`.

---

## üöÄ Primer paso: trabajar con CSV
En esta primera parte veremos un ejemplo con **CSV**,  
uno de los formatos m√°s **comunes, simples y f√°ciles de entender** para empezar a trabajar con datos.

Para trabajar con datos en Python, vamos a utilizar la librer√≠a **pandas** que nos permite leer datos de muchos formatos diferentes (CSV, Excel, JSON, SQL, etc.).

## Opciones √∫tiles de `read_csv`

- **`sep`** ‚Üí define el delimitador (`,` por defecto, puede ser `;`, `|`, `\s+`, etc.)
- **`header`** ‚Üí fila usada como encabezado (`None` si no hay)
- **`names`** ‚Üí lista de nombres de columnas
- **`index_col`** ‚Üí columna que se usar√° como √≠ndice
- **`skiprows`** ‚Üí filas que se saltan al leer
- **`na_values`** ‚Üí valores a considerar como `NaN`
- **`nrows`** ‚Üí n√∫mero de filas a leer
- **`chunksize`** ‚Üí leer el archivo por partes (√∫til en archivos grandes)

In [5]:
import pandas as pd # Importa la librer√≠a pandas, la m√°s usada en Python para an√°lisis y manipulaci√≥n de datos. 
from io import StringIO #una utilidad de Python que permite tratar cadenas de texto como si fueran archivos. Se usa mucho para cargar datos directamente desde un string en memoria

In [6]:
df = pd.read_csv("datasets/CarsDatasets2025.csv", encoding="latin1") #encoding="latin1" ‚Üí Especifica la codificaci√≥n de caracteres.

In [7]:
df.head(10)

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm
5,BMW,Mclaren 720s,V8,"3,994 cc",710 hp,341 km/h,2.9 sec,"$499,000",Petrol,2,770 Nm
6,ASTON MARTIN,VANTAGE F1,V8,"3,982 cc",656 hp,314 km/h,3.6 sec,"$193,440",Petrol,2,685 Nm
7,BENTLEY,Continental GT Azure,V8,"3,996 cc",550 hp,318 km/h,4.0 sec,"$311,000",Petrol,4,900 Nm
8,LAMBORGHINI,VENENO ROADSTER,V12,"6,498 cc",750 hp,356 km/h,2.9 sec,"$4,500,000",Petrol,2,690 Nm
9,FERRARI,F8 TRIBUTO,V8,"3,900 cc",710 hp,340 km/h,2.9 sec,"$280,000",Petrol,2,770 Nm

### üìÑ Creaci√≥n de un CSV de ejemplo

Vamos a crear un **string multil√≠nea** que simula un archivo CSV:

- üè∑Ô∏è **Primera l√≠nea** ‚Üí contiene los **nombres de las columnas** (`a, b, c, d, message`).  
- üî¢ **Filas siguientes** ‚Üí contienen los **valores de cada columna**, separados por comas (`,`).  

As√≠ se ver√≠a el archivo en crudo:

In [6]:
#1. CSV simple con encabezado



csv_text = """a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo"""

df = pd.read_csv(StringIO(csv_text)) #lo transforma directamente en una tabla (DataFrame).
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
#2. CSV sin encabezado
csv_noheader = """1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo"""

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
# pandas asigna nombres gen√©ricos a las columnas
df_noheader = pd.read_csv(StringIO(csv_noheader), header=None)
df_noheader

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [10]:

# Tambi√©n podemos asignar nombres personalizados:
names = ['a', 'b', 'c', 'd', 'message']
df_named = pd.read_csv(StringIO(csv_noheader), names=names)
df_named

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
#3. Usar una columna como √≠ndice
df_indexed = pd.read_csv(StringIO(csv_noheader), names=names, index_col='message')
df_indexed

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [13]:
#4. CSV con delimitador distinto (ejemplo con ;)
csv_semicolon = """a;b;c;d;message
1;2;3;4;hello
5;6;7;8;world"""

df_semicolon = pd.read_csv(StringIO(csv_semicolon), sep=";")
df_semicolon

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [14]:
#5. CSV con espacios como separador


csv_space = """A   B   C
aaa -0.2 -1.0
bbb  0.9  0.3
ccc -0.2 -0.3"""

# Usamos una expresi√≥n regular para separar por uno o m√°s espacios
df_space = pd.read_csv(StringIO(csv_space), sep=r"\s+")
df_space

     A    B    C
0  aaa -0.2 -1.0
1  bbb  0.9  0.3
2  ccc -0.2 -0.3

In [15]:

csv_skip = """# comentario
a,b,c,d
1,2,3,4
5,6,7,8"""

df_skip = pd.read_csv(StringIO(csv_skip), skiprows=[0])
df_skip

   a  b  c  d
0  1  2  3  4
1  5  6  7  8

In [5]:
#7. Manejo de valores faltantes (NA)

csv_na = """something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo"""

df_na = pd.read_csv(StringIO(csv_na))
df_na

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [7]:
#1. Lectura de un archivo completo

result = pd.read_csv('datasets/lc_10000_rows.csv')
print(result)

     Unnamed: 0       X       id  load_entry_id file_descriptor  member_id  \
0        296192  296192  3316245    -2140141508              3c        NaN
1        219806  219806  3855783    -2140141507              3d        NaN
2        142772  142772  3710061    -2140141507              3d        NaN
3        433148  433148  3471924    -2140141508              3c        NaN
4        429639  429639  3468046    -2140141508              3c        NaN
..          ...     ...      ...            ...             ...        ...
995      611200  611200  3173716    -2140141509              3b        NaN
996      455023  455023  3496047    -2140141508              3c        NaN
997      586249  586249  3147029    -2140141509              3b        NaN
998      195032  195032  3810868    -2140141507              3d        NaN
999      573506  573506  3133282    -2140141509              3b        NaN

     loan_amnt  funded_amnt  funded_amnt_inv       term  ... hardship_amount  \
0        17600        17600            17600  36 months  ...             NaN
1         3600         3600             3600  36 months  ...             NaN
2        20000        20000            20000  36 months  ...             NaN
3        12000        12000            12000  36 months  ...             NaN
4        13075        13075            13075  36 months  ...             NaN
..         ...          ...              ...        ...  ...             ...
995      12575        12575            12575  36 months  ...             NaN
996       8000         8000             8000  36 months  ...             NaN
997      10575        10575            10575  36 months  ...             NaN
998       6000         6000             6000  36 months  ...             NaN
999      23850        23850            23850  60 months  ...             NaN

     hardship_start_date hardship_end_date payment_plan_start_date  \
0                    NaN               NaN                     NaN
1                    NaN               NaN                     NaN
2                    NaN               NaN                     NaN
3                    NaN               NaN                     NaN
4                    NaN               NaN                     NaN
..                   ...               ...                     ...
995                  NaN               NaN                     NaN
996                  NaN               NaN                     NaN
997                  NaN               NaN                     NaN
998                  NaN               NaN                     NaN
999                  NaN               NaN                     NaN

    hardship_length hardship_dpd hardship_loan_status  \
0               NaN          NaN                  NaN
1               NaN          NaN                  NaN
2               NaN          NaN                  NaN
3               NaN          NaN                  NaN
4               NaN          NaN                  NaN
..              ...          ...                  ...
995             NaN          NaN                  NaN
996             NaN          NaN                  NaN
997             NaN          NaN                  NaN
998             NaN          NaN                  NaN
999             NaN          NaN                  NaN

     orig_projected_additional_accrued_interest  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
..                                          ...
995                                         NaN
996                                         NaN
997                                         NaN
998                                         NaN
999                                         NaN

    hardship_payoff_balance_amount hardship_last_payment_amount
0                              NaN                          NaN
1                              NaN                          NaN
2                              NaN                          NaN
3                              NaN                          NaN
4                              NaN                          NaN
..                             ...                          ...
995                            NaN                          NaN
996                            NaN                          NaN
997                            NaN                          NaN
998                            NaN                          NaN
999                            NaN                          NaN

[1000 rows x 141 columns]

# üìù ¬øPor qu√© mi DataFrame se ve as√≠ con `...`?

Cuando cargamos un CSV grande con **pandas**, muchas veces la salida aparece truncada:  

- `...` ‚Üí significa que pandas **recort√≥ filas o columnas** para no saturar la pantalla.  
- La tabla aparece **partida en bloques** porque hay demasiadas columnas para el ancho disponible.  
- Columnas como **`Unnamed: 0`** aparecen porque el CSV fue guardado con el √≠ndice y pandas lo ley√≥ como una columna m√°s.  

---

In [11]:
## üëÄ C√≥mo mejorar la visualizaci√≥n

#Podemos cambiar las opciones de display de pandas:


#pd.set_option("display.max_columns", None)   # mostrar todas las columnas
#pd.set_option("display.max_rows", 50)        # hasta 50 filas
#pd.set_option("display.width", 0)            # usa todo el ancho de la pantalla
#pd.set_option("display.max_colwidth", None)  # no cortar strings
#pd.set_option("display.expand_frame_repr", False)  # evita partir la tabla en bloques

pd.set_option("display.max_rows", 50)        # hasta 50 filas
result.head(50)

## üìÇ Leer archivos grandes en partes con `pandas`

Cuando trabajamos con **archivos CSV muy grandes**, cargarlos completos puede ser ineficiente o incluso imposible si no entran en memoria.  
Para resolver esto, `pandas` ofrece dos opciones muy √∫tiles: **`nrows`** y **`chunksize`**.

---

### 1. Leer solo una muestra con `nrows`

Podemos cargar √∫nicamente unas pocas filas del archivo, por ejemplo, para inspeccionar la estructura y los tipos de datos.

In [8]:
# Leer solo las primeras 5 filas de un CSV grande
small_sample = pd.read_csv("datasets/CarsDatasets2025.csv", encoding="latin1",  nrows=5)
print(small_sample)

  Company Names     Cars Names      Engines CC/Battery Capacity HorsePower  \
0       FERRARI  SF90 STRADALE           V8             3990 cc     963 hp
1   ROLLS ROYCE        PHANTOM          V12             6749 cc     563 hp
2          Ford            KA+  1.2L Petrol            1,200 cc   70-85 hp
3      MERCEDES        GT 63 S           V8            3,982 cc     630 hp
4          AUDI     AUDI R8 Gt          V10            5,204 cc     602 hp

  Total Speed Performance(0 - 100 )KM/H      Cars Prices       Fuel Types  \
0    340 km/h                   2.5 sec      $1,100,000   plug in hyrbrid
1    250 km/h                   5.3 sec        $460,000            Petrol
2    165 km/h                  10.5 sec  $12,000-$15,000           Petrol
3    250 km/h                   3.2 sec        $161,000            Petrol
4    320 km/h                   3.6 sec        $253,290            Petrol

   Seats        Torque
0      2        800 Nm
1      5        900 Nm
2      5  100 - 140 Nm
3      4        900 Nm
4      2        560 Nm

### 2. Leer en bloques con `chunksize`

Cuando un archivo es demasiado grande para cargarlo completo en memoria,  
podemos leerlo **por partes** utilizando el par√°metro `chunksize`.

- Cada **chunk** (bloque) contiene la cantidad de filas que definamos.  
- Esto permite procesar archivos grandes de forma **eficiente y sin saturar la memoria**.

In [9]:
# Leer el archivo en partes de 1000 filas
ruta = "datasets/CarsDatasets2025.csv"

# Crear iterador que lee el archivo en bloques de 100 filas
chunker = pd.read_csv(ruta, encoding="latin1", chunksize=100)

# Recorrer y mostrar cada bloque de 100
for i, piece in enumerate(chunker, start=1):
    print(f"\n--- Bloque {i} ---")
    print(piece)

--- Bloque 1 ---
   Company Names          Cars Names         Engines CC/Battery Capacity  \
0        FERRARI       SF90 STRADALE              V8             3990 cc
1    ROLLS ROYCE             PHANTOM             V12             6749 cc
2           Ford                 KA+     1.2L Petrol            1,200 cc
3       MERCEDES             GT 63 S              V8            3,982 cc
4           AUDI          AUDI R8 Gt             V10            5,204 cc
..           ...                 ...             ...                 ...
95      MERCEDES         BENZ GLE 53              V6            2,996 cc
96      MERCEDES  BENZ S-CLASS S 350              I4            1,991 cc
97      MERCEDES         BENZ EQS 53  ELECTRIC MOTOR                 NaN
98      MERCEDES  BENZ MAYBACH S 680             V12            5,980 cc
99           BMW               M5 CS              V8            4,395 cc

   HorsePower Total Speed Performance(0 - 100 )KM/H      Cars Prices  \
0      963 hp    340 km/h                   2.5 sec      $1,100,000
1      563 hp    250 km/h                   5.3 sec        $460,000
2    70-85 hp    165 km/h                  10.5 sec  $12,000-$15,000
3      630 hp    250 km/h                   3.2 sec        $161,000
4      602 hp    320 km/h                   3.6 sec        $253,290
..        ...         ...                       ...              ...
95     429 hp    250 km/h                   5.2 sec         $71,000
96     255 hp    250 km/h                   6.5 sec         $90,000
97     751 hp    250 km/h                   3.4 sec        $102,000
98     630 hp    250 km/h                   4.7 sec        $200,000
99     627 hp    305 km/h                   3.0 sec        $142,000

         Fuel Types Seats        Torque
0   plug in hyrbrid     2        800 Nm
1            Petrol     5        900 Nm
2            Petrol     5  100 - 140 Nm
3            Petrol     4        900 Nm
4            Petrol     2        560 Nm
..              ...   ...           ...
95           Petrol     5        620 Nm
96           Petrol     5        500 Nm
97         Electric     5        950 Nm
98           Petrol     5       1000 Nm
99           Petrol     5        750 Nm

[100 rows x 11 columns]

--- Bloque 2 ---
    Company Names               Cars Names Engines CC/Battery Capacity  \
100           BMW                   M4 GTS      I6            2,993 cc
101           BMW           M3 COMPETITION      I6            2,993 cc
102           BMW                    M2 CS      I6            2,993 cc
103           BMW         X5 M COMPETITION      V8            4,935 cc
104           BMW         X3 M COMPETITION      I6            2,993 cc
..            ...                      ...     ...                 ...
195         KIA    SPORTAGE 2024(BASE FWD)      I4            2,480 cc
196         HONDA                     CR-V      I4            1,498 cc
197         HONDA                    PILOT      V6            3,471 cc
198         HONDA          CIVIC HATCHBACK      I4            1,498 cc
199        TOYOTA                    CAMRY      V6            3,500 cc

    HorsePower Total Speed Performance(0 - 100 )KM/H Cars Prices  \
100     493 hp    305 km/h                   3.7 sec   $133,000
101     503 hp    285 km/h                   3.5 sec    $76,000
102     444 hp    280 km/h                   4.0 sec    $83,000
103     523 hp    285 km/h                   4.1 sec   $114,000
104     503 hp    285 km/h                   4.1 sec    $69,000
..         ...         ...                       ...         ...
195     187 hp    200 km/h                   8.5 sec    $26,500
196     190 hp    186 km/h                   8.2 sec    $30,000
197     285 hp    209 km/h                   6.3 sec    $40,000
198     180 hp    220 km/h                   6.8 sec    $26,350
199     301 hp    220 km/h                   6.0 sec    $27,000

        Fuel Types  Seats  Torque
100         Petrol      4  600 Nm
101         Petrol      5  650 Nm
102         Petrol      4  550 Nm
103         Petrol      5  750 Nm
104         Petrol      5  650 Nm
..             ...    ...     ...
195         Petrol      5  250 Nm
196  Petrol/Hybrid      5  400 Nm
197         Petrol      8  360 Nm
198         Petrol      5  300 Nm
199  Petrol/Hybrid      5  250 Nm

[100 rows x 11 columns]

--- Bloque 3 ---
    Company Names      Cars Names                        Engines  \
200        TOYOTA         COROLLA                             I4
201        TOYOTA           PRIUS                             I4
202        TOYOTA            RAV4                             I4
203        TOYOTA      HIGHLANDER                             V6
204        TOYOTA        4RUNNER                              V6
..            ...             ...                            ...
295    Volkswagen         Up! GTI                  1.0L Turbo I3
296    Volkswagen         T-Cross  1.0L Turbo I3 / 1.5L Turbo I4
297    Volkswagen            ID.5                       Electric
298    Volkswagen  ID. Buzz Cargo                       Electric
299    Volkswagen       Touareg R              Plug-in Hybrid V6

    CC/Battery Capacity    HorsePower Total Speed Performance(0 - 100 )KM/H  \
200            1,798 cc        139 hp    180 km/h                   9.4 sec
201            1,798 cc        121 hp    180 km/h                  10.5 sec
202            2,494 cc        203 hp    200 km/h                   8.1 sec
203            3,456 cc        295 hp    220 km/h                   7.2 sec
204            3,956 cc        270 hp    200 km/h                   7.5 sec
..                  ...           ...         ...                       ...
295              999 cc        115 hp    196 km/h                   8.8 sec
296    999 cc / 1498 cc   95 - 150 hp    200 km/h                  10.2 sec
297              77 kWh  174 - 299 hp    180 km/h                   8.4 sec
298              77 kWh        204 hp    145 km/h                  10.2 sec
299             2995 cc        462 hp    250 km/h                   5.1 sec

    Cars Prices     Fuel Types  Seats  Torque
200    $22,500   Petrol/Hybrid      5  200 Nm
201    $26,700          Hybrid      5  142 Nm
202    $27,100   Petrol/Hybrid      5  400 Nm
203    $38,400   Petrol/Hybrid      7  370 Nm
204    $37,400          Petrol      5  400 Nm
..          ...            ...    ...     ...
295    $20,000          Petrol      4  200 Nm
296    $25,000          Petrol      5  250 Nm
297    $45,000        Electric      5  310 Nm
298    $55,000        Electric      3  310 Nm
299    $70,000          Hybrid      5  700 Nm

[100 rows x 11 columns]

--- Bloque 4 ---
    Company Names       Cars Names                     Engines  \
300    Volkswagen         Multivan  Plug-in Hybrid / Diesel I4
301    Volkswagen  Polo BlueMotion              1.2L Diesel I3
302    Volkswagen   Golf Sportsvan               1.5L Turbo I4
303    Volkswagen    Golf Alltrack        2.0L Turbo Diesel I4
304    Volkswagen       Scirocco R               2.0L Turbo I4
..            ...              ...                         ...
395        Nissan             Cube               1.8L Inline-4
396        Nissan             Juke  1.0L Turbocharged Inline-3
397        Nissan          Terrano        1.5L Inline-4 Diesel
398        Nissan          Magnite  1.0L Turbocharged Inline-3
399        Nissan           Xterra                     4.0L V6

    CC/Battery Capacity    HorsePower Total Speed Performance(0 - 100 )KM/H  \
300   1395 cc / 1968 cc  150 - 218 hp    190 km/h                   9.4 sec
301             1199 cc    75 - 95 hp    190 km/h                  10.5 sec
302             1498 cc  130 - 150 hp    210 km/h                   8.9 sec
303             1968 cc  147 - 200 hp    210 km/h                   7.1 sec
304             1984 cc        280 hp    250 km/h                   5.5 sec
..                  ...           ...         ...                       ...
395             1798 cc        122 HP    175 km/h                  10.6 sec
396              999 cc        117 HP    180 km/h                  10.4 sec
397             1461 cc        110 HP    168 km/h                  13.5 sec
398              999 cc        100 HP    160 km/h                  13.0 sec
399             3954 cc        261 HP    200 km/h                   7.8 sec

    Cars Prices      Fuel Types  Seats  Torque
300    $50,000   Petrol, Hybrid      7  350 Nm
301    $22,000           Diesel      5  250 Nm
302    $30,000           Petrol      5  250 Nm
303    $35,000           Petrol      5  350 Nm
304    $40,000           Petrol      4  350 Nm
..          ...             ...    ...     ...
395    $14,500           Petrol      5  171 Nm
396    $25,000           Petrol      5  180 Nm
397    $15,500           Diesel      5  248 Nm
398    $12,000           Petrol      5  160 Nm
399    $35,000           Petrol      7  381 Nm

[100 rows x 11 columns]

--- Bloque 5 ---
    Company Names              Cars Names               Engines  \
400        Nissan                  Patrol               5.6L V8
401        Nissan              GT-R NISMO    3.8L Twin-Turbo V6
402        Nissan           370Z Roadster               3.7L V6
403        Nissan                  Ariya   Dual Electric Motors
404        Nissan           Patrol Royale               5.6L V8
..            ...                     ...                   ...
495        Nissan   Datsun 240Z (Classic)         2.4L Inline-6
496        Nissan                   100NX         1.6L Inline-4
497        Nissan  Cedric Special Edition               3.0L V6
498        Nissan             300ZX Turbo    3.0L Twin-Turbo V6
499        Nissan       Silvia S15 Spec-R   2.0L Turbo Inline-4

    CC/Battery Capacity HorsePower Total Speed Performance(0 - 100 )KM/H  \
400             5552 cc     400 HP    210 km/h                   7.3 sec
401             3799 cc     600 HP    330 km/h                   2.9 sec
402             3696 cc     332 HP    250 km/h                   5.5 sec
403              87 kWh     389 HP    200 km/h                   5.1 sec
404             5552 cc     400 HP    210 km/h                   6.6 sec
..                  ...        ...         ...                       ...
495             2393 cc     151 HP    210 km/h                   8.0 sec
496             1597 cc     110 HP    185 km/h                   9.6 sec
497             2960 cc     250 HP    225 km/h                   8.5 sec
498             2960 cc     300 HP    250 km/h                   5.9 sec
499             1998 cc     250 HP    240 km/h                   5.6 sec

    Cars Prices Fuel Types  Seats  Torque
400    $77,000      Petrol      7  560 Nm
401   $220,000      Petrol      2  652 Nm
402    $41,820      Petrol      2  366 Nm
403    $58,950    Electric      5  600 Nm
404    $85,000      Petrol      7  560 Nm
..          ...        ...    ...     ...
495    $45,000      Petrol      2  198 Nm
496    $18,000      Petrol      4  135 Nm
497    $60,000      Petrol      5  330 Nm
498    $55,000      Petrol      4  384 Nm
499    $35,000      Petrol      4  300 Nm

[100 rows x 11 columns]

--- Bloque 6 ---
    Company Names                         Cars Names  \
500        Nissan                              NV400
501        Nissan                      Titan Warrior
502        Nissan                      Caravan Coach
503        Nissan                     Serena e-Power
504        Nissan                            Elgrand
..            ...                                ...
595       Porsche  Cayenne Diesel (Regional Markets)
596       Porsche                   Cayenne S Hybrid
597       Porsche       Cayenne Coupe Turbo E-Hybrid
598       Porsche                        Taycan Base
599      Cadillac                                CT4

                                 Engines CC/Battery Capacity HorsePower  \
500                 2.3L Inline-4 Diesel             2298 cc     135 HP
501                              5.6L V8             5552 cc     400 HP
502                 2.5L Inline-4 Diesel             2498 cc     127 HP
503                          1.2L Hybrid             1198 cc     134 HP
504                              3.5L V6             3498 cc     280 HP
..                                   ...                 ...        ...
595                 3.0L Turbo Diesel V6             2967 cc     262 hp
596             3.0L V6 + Electric Motor             2995 cc     380 hp
597  4.0L Twin-Turbo V8 + Electric Motor             3996 cc     728 hp
598                 Dual Electric Motors            79.2 kWh     321 hp
599         2.0L Turbo Inline-4 Gasoline             2000 cc     237 hp

    Total Speed Performance(0 - 100 )KM/H Cars Prices Fuel Types  Seats  \
500    150 km/h                  15.0 sec    $40,000      Diesel      3
501    180 km/h                   7.0 sec    $55,000      Petrol      5
502    140 km/h                  14.0 sec    $30,000      Diesel      7
503    160 km/h                  12.0 sec    $35,000      Hybrid      7
504    200 km/h                   8.5 sec    $50,000      Petrol      7
..          ...                       ...         ...        ...    ...
595    221 km/h                       7.3    $69,000      Diesel      5
596    242 km/h                       6.5    $85,500      Hybrid      5
597    295 km/h                       3.6   $182,900      Hybrid      4
598    230 km/h                       5.4    $86,700    Electric      4
599    250 km/h                   6.0 sec    $34,395      Petrol      5

     Torque
500  360 Nm
501  560 Nm
502  260 Nm
503  320 Nm
504  344 Nm
..      ...
595  580 Nm
596  580 Nm
597  950 Nm
598  345 Nm
599  350 Nm

[100 rows x 11 columns]

--- Bloque 7 ---
    Company Names                Cars Names                        Engines  \
600      Cadillac                     CT4-V   2.7L Turbo Inline-4 Gasoline
601      Cadillac                       CT5   2.0L Turbo Inline-4 Gasoline
602      Cadillac                     CT5-V    3.0L Twin-Turbo V6 Gasoline
603       Porsche    Taycan Cross Turismo 4           Dual Electric Motors
604       Porsche  Taycan Cross Turismo GTS           Dual Electric Motors
..            ...                       ...                            ...
695      Cadillac           CT5-V Blackwing  6.2L Supercharged V8 Gasoline
696      Cadillac           CT4-V Blackwing    3.6L Twin-Turbo V6 Gasoline
697      Cadillac                 XT4 Sport   2.0L Turbo Inline-4 Gasoline
698      Cadillac                 XT5 Sport               3.6L V6 Gasoline
699      Cadillac                 XT6 Sport               3.6L V6 Gasoline

    CC/Battery Capacity HorsePower Total Speed Performance(0 - 100 )KM/H  \
600             2700 cc     325 hp    260 km/h                   4.9 sec
601             2000 cc     237 hp    240 km/h                   6.6 sec
602             3000 cc     360 hp    250 km/h                   4.6 sec
603            93.4 kWh     375 hp    240 km/h                   5.1 sec
604            93.4 kWh     590 hp    250 km/h                   3.8 sec
..                  ...        ...         ...                       ...
695             6200 cc     668 hp    320 km/h                   3.4 sec
696             3600 cc     472 hp    290 km/h                   3.9 sec
697             2000 cc     235 hp    220 km/h                   7.4 sec
698             3600 cc     310 hp    210 km/h                   6.5 sec
699             3600 cc     310 hp    210 km/h                   6.9 sec

    Cars Prices Fuel Types  Seats  Torque
600    $46,595      Petrol      5  500 Nm
601    $38,195      Petrol      5  350 Nm
602    $50,995      Petrol      5  550 Nm
603    $94,800    Electric      4  500 Nm
604   $139,400    Electric      4  620 Nm
..          ...        ...    ...     ...
695    $92,000      Petrol      5  893 Nm
696    $60,495      Petrol      5  603 Nm
697    $41,390      Petrol      5  350 Nm
698    $51,095      Petrol      5  366 Nm
699    $57,095      Petrol      7  366 Nm

[100 rows x 11 columns]

--- Bloque 8 ---
    Company Names                          Cars Names  \
700      Cadillac                Lyriq Launch Edition
701      Cadillac                    Lyriq EV Premium
702      Cadillac                  CT5 Premium Luxury
703     Chevrolet                               Spark
704     Chevrolet                               Sonic
..            ...                                 ...
795           GMC             Hummer EV SUV Edition 1
796           GMC          Hummer EV Pickup Edition 1
797           GMC             Sierra Denali CarbonPro
798           GMC            Yukon Denali Performance
799           GMC  Sierra 2500HD Denali Black Edition

                                            Engines CC/Battery Capacity  \
700                           Single Electric Motor             100 kWh
701                            Dual Electric Motors             100 kWh
702                    2.0L Turbo Inline-4 Gasoline             2000 cc
703                          1.4L Inline-4 Gasoline             1400 cc
704                    1.4L Turbo Inline-4 Gasoline             1400 cc
..                                              ...                 ...
795  Electric motors with up to 11,500 lb-ft torque             200 kWh
796  Electric motors with up to 11,500 lb-ft torque             200 kWh
797                                  6.2L V8 engine            6,162 cc
798                                  6.2L V8 engine            6,162 cc
799                                  6.6L V8 engine            6,600 cc

         HorsePower Total Speed Performance(0 - 100 )KM/H Cars Prices  \
700          340 hp    190 km/h                   5.7 sec    $59,990
701          500 hp    210 km/h                   4.5 sec    $64,990
702          237 hp    240 km/h                   6.8 sec    $41,290
703           98 hp    180 km/h                  10.7 sec    $14,595
704          138 hp    190 km/h                   8.5 sec    $16,720
..              ...         ...                       ...         ...
795    Up to 830 hp    170 km/h                   3.5 sec    $96,550
796  Up to 1,000 hp    170 km/h                   3.0 sec    $96,550
797          420 hp    200 km/h                   5.8 sec    $65,000
798          420 hp    210 km/h                   6.0 sec    $76,805
799          401 hp    170 km/h                   7.5 sec    $75,000

    Fuel Types  Seats     Torque
700   Electric      5     440 Nm
701   Electric      5     620 Nm
702     Petrol      5     350 Nm
703     Petrol      5     127 Nm
704     Petrol      5     200 Nm
..         ...    ...        ...
795   Electric      5  15,590 Nm
796   Electric      5  15,590 Nm
797     Petrol      5     624 Nm
798     Petrol      8     624 Nm
799     Petrol      5     629 Nm

[100 rows x 11 columns]

--- Bloque 9 ---
         Company Names         Cars Names                Engines  \
800                GMC        Canyon AT4X         3.6L V6 engine
801                GMC       Yukon XL SLT         5.3L V8 engine
802                GMC    Sierra 1500 Pro         4.3L V6 engine
803                GMC  Sierra 2500HD Pro         6.6L V8 engine
804                GMC  Sierra 3500HD Pro         6.6L V8 engine
..                 ...                ...                    ...
895              Volvo          Volvo VNR  12.8L I6 Turbo Diesel
896              Volvo          Volvo VHD  12.8L I6 Turbo Diesel
897              Volvo           Volvo FE   7.7L I6 Turbo Diesel
898              Volvo           Volvo FL   5.1L I4 Turbo Diesel
899  Jaguar Land Rover      Jaguar F-Type         V6 / V8 Petrol

    CC/Battery Capacity HorsePower Total Speed Performance(0 - 100 )KM/H  \
800            3,564 cc     308 hp    180 km/h                   6.9 sec
801            5,327 cc     355 hp    210 km/h                   7.3 sec
802            4,300 cc     285 hp    180 km/h                   7.5 sec
803            6,600 cc     401 hp    170 km/h                   7.7 sec

In [10]:
# Creamos un DataFrame desde un CSV
df = pd.read_csv("datasets/CarsDatasets2025.csv", encoding="latin1")
print(df)

# Guardamos en formato binario (pickle)
df.to_pickle("frame_pickle.pkl")

# Leemos el archivo binario nuevamente
df = pd.read_pickle("frame_pickle.pkl")
print(df)

     Company Names         Cars Names                             Engines  \
0          FERRARI      SF90 STRADALE                                  V8
1      ROLLS ROYCE            PHANTOM                                 V12
2             Ford                KA+                         1.2L Petrol
3         MERCEDES            GT 63 S                                  V8
4             AUDI         AUDI R8 Gt                                 V10
...            ...                ...                                 ...
1213        Toyota       Crown Signia                      2.5L Hybrid I4
1214        Toyota  4Runner (6th Gen)  2.4L Turbo I4 (i-FORCE MAX Hybrid)
1215        Toyota      Corolla Cross              2.0L Gas / 2.0L Hybrid
1216        Toyota             C-HR+                   1.8L / 2.0L Hybrid
1217        Toyota     RAV4 (6th Gen)        2.5L Hybrid / Plug-in Hybrid

        CC/Battery Capacity    HorsePower Total Speed  \
0                   3990 cc        963 hp    340 km/h
1                   6749 cc        563 hp    250 km/h
2                  1,200 cc      70-85 hp    165 km/h
3                  3,982 cc        630 hp    250 km/h
4                  5,204 cc        602 hp    320 km/h
...                     ...           ...         ...
1213                2487 cc        240 hp    180 km/h
1214      2393 cc + Battery        326 hp    180 km/h
1215  1987 cc / Hybrid batt  169 ¬ñ 196 hp    190 km/h
1216  1798 / 1987 cc + batt  140 ¬ñ 198 hp    180 km/h
1217         2487 cc + batt  219 ¬ñ 302 hp    200 km/h

     Performance(0 - 100 )KM/H        Cars Prices               Fuel Types  \
0                      2.5 sec        $1,100,000           plug in hyrbrid
1                      5.3 sec          $460,000                    Petrol
2                     10.5 sec    $12,000-$15,000                   Petrol
3                      3.2 sec          $161,000                    Petrol
4                      3.6 sec          $253,290                    Petrol
...                        ...                ...                      ...
1213                   7.6 sec  $43,590 ¬ñ $48,000  Hybrid (Gas + Electric)
1214                   6.8 sec           $50,000                    Hybrid
1215             8.0 ¬ñ 9.2 sec  $25,210 ¬ñ $29,135             Gas / Hybrid
1216            7.9 ¬ñ 10.5 sec           ¬Ä 33,000                   Hybrid
1217             6.0 ¬ñ 8.1 sec  $29,000 ¬ñ $43,000         Hybrid / Plug-in

     Seats        Torque
0        2        800 Nm
1        5        900 Nm
2        5  100 - 140 Nm
3        4        900 Nm
4        2        560 Nm
...    ...           ...
1213     5        239 Nm
1214     7        630 Nm
1215     5  190 ¬ñ 210 Nm
1216     5  190 ¬ñ 205 Nm
1217     5  221 ¬ñ 400 Nm

[1218 rows x 11 columns]
     Company Names         Cars Names                             Engines  \
0          FERRARI      SF90 STRADALE                                  V8
1      ROLLS ROYCE            PHANTOM                                 V12
2             Ford                KA+                         1.2L Petrol
3         MERCEDES            GT 63 S                                  V8
4             AUDI         AUDI R8 Gt                                 V10
...            ...                ...                                 ...
1213        Toyota       Crown Signia                      2.5L Hybrid I4
1214        Toyota  4Runner (6th Gen)  2.4L Turbo I4 (i-FORCE MAX Hybrid)
1215        Toyota      Corolla Cross              2.0L Gas / 2.0L Hybrid
1216        Toyota             C-HR+                   1.8L / 2.0L Hybrid
1217        Toyota     RAV4 (6th Gen)        2.5L Hybrid / Plug-in Hybrid

        CC/Battery Capacity    HorsePower Total Speed  \
0                   3990 cc        963 hp    340 km/h
1                   6749 cc        563 hp    250 km/h
2                  1,200 cc      70-85 hp    165 km/h
3                  3,982 cc        630 hp    250 km/h
4                  5,204 cc        602 hp    320 km/h
...                     ...           ...         ...
1213                2487 cc        240 hp    180 km/h
1214      2393 cc + Battery        326 hp    180 km/h
1215  1987 cc / Hybrid batt  169 ¬ñ 196 hp    190 km/h
1216  1798 / 1987 cc + batt  140 ¬ñ 198 hp    180 km/h
1217         2487 cc + batt  219 ¬ñ 302 hp    200 km/h

     Performance(0 - 100 )KM/H        Cars Prices               Fuel Types  \
0                      2.5 sec        $1,100,000           plug in hyrbrid
1                      5.3 sec          $460,000                    Petrol
2                     10.5 sec    $12,000-$15,000                   Petrol
3                      3.2 sec          $161,000                    Petrol
4                      3.6 sec          $253,290                    Petrol
...                        ...                ...                      ...
1213                   7.6 sec  $43,590 ¬ñ $48,000  Hybrid (Gas + Electric)
1214                   6.8 sec           $50,000                    Hybrid
1215             8.0 ¬ñ 9.2 sec  $25,210 ¬ñ $29,135             Gas / Hybrid
1216            7.9 ¬ñ 10.5 sec           ¬Ä 33,000                   Hybrid
1217             6.0 ¬ñ 8.1 sec  $29,000 ¬ñ $43,000         Hybrid / Plug-in

     Seats        Torque
0        2        800 Nm
1        5        900 Nm
2        5  100 - 140 Nm
3        4        900 Nm
4        2        560 Nm
...    ...           ...
1213     5        239 Nm
1214     7        630 Nm
1215     5  190 ¬ñ 210 Nm
1216     5  190 ¬ñ 205 Nm
1217     5  221 ¬ñ 400 Nm

[1218 rows x 11 columns]

### ¬øPor qu√© usar binario y no CSV/Excel?

- üí® Guardar en **binario** es mucho m√°s **r√°pido y eficiente** (especialmente para datos grandes).  
- üóÇÔ∏è Conserva la **estructura interna de pandas** (√≠ndices, tipos de datos).  
- ‚ö†Ô∏è Sin embargo, **no es recomendable como almacenamiento a largo plazo**, porque una versi√≥n futura de pandas podr√≠a no ser compatible con un archivo **pickle** creado hoy.

###  Pickle es r√°pido y simple, ideal para trabajo temporal.
---

### üìò JSON en Python (interactuar con API WEB)

**JSON (JavaScript Object Notation)** es un formato est√°ndar para enviar datos por HTTP entre aplicaciones  
(por ejemplo, entre un navegador y una API).



### Ventajas
- Es m√°s flexible que formatos tabulares como **CSV**.
- Permite estructuras **jer√°rquicas** y **anidadas**.



### Tipos b√°sicos de JSON

- **Objetos** ‚Üí equivalen a **diccionarios (`dict`)** en Python.
- **Arreglos (arrays)** ‚Üí equivalen a **listas (`list`)** en Python.
- **Cadenas (strings)**  
- **N√∫meros**  
- **Booleanos (`true` / `false`)**  
- **null** ‚Üí en Python se convierte en **`None`**.

### Uso en Python con `requests` y `pandas`

- `response.json()` ‚Üí convierte el **JSON** en un **diccionario de Python**  
  (igual que en el ejemplo del PDF con `json.loads()`).

- A partir de ah√≠, puedes extraer una **lista** de objetos JSON (por ejemplo, `"products"`)  
  y convertirla en un **DataFrame de pandas**.

- Con el DataFrame puedes **explorar columnas** y **analizar los datos** f√°cilmente.

In [11]:
import json ##
import requests

print(" Obteniendo datos de productos desde DummyJSON...")

try:
    # 1. Obtener lista de productos
    url = "https://dummyjson.com/products"
    response = requests.get(url, timeout=10)
    
    if response.status_code == 200:
        data = response.json()
        
        # DummyJSON devuelve los datos en formato: {"products": [...], "total": N, "skip": 0, "limit": 30}
        products = data.get('products', [])
        
        print(f"‚úÖ {len(products)} productos obtenidos exitosamente")
        print(f"üìä Total en la API: {data.get('total', 'N/A')} productos")
        
        # Convertir a DataFrame
        df_products = pd.DataFrame(products)
        
        print(f"üìã Columnas disponibles: {list(df_products.columns)}")
        print(f"üìè Dimensiones: {df_products.shape}")
        
        # Mostrar primeros productos
        print("\nüîç Primeros 5 productos:")
        columns_to_show = ['id', 'title', 'price', 'category', 'brand', 'rating']
        print(df_products[columns_to_show].head())
        
    else:
        print(f"‚ùå Error: {response.status_code} - {response.text}")
        
except requests.exceptions.RequestException as e:
    print(f"‚ùå Error de conexi√≥n: {e}")
except Exception as e:
    print(f"‚ùå Error inesperado: {e}")

print("\n" + "="*60)

 Obteniendo datos de productos desde DummyJSON...
‚úÖ 30 productos obtenidos exitosamente
üìä Total en la API: 194 productos
üìã Columnas disponibles: ['id', 'title', 'description', 'category', 'price', 'discountPercentage', 'rating', 'stock', 'tags', 'brand', 'sku', 'weight', 'dimensions', 'warrantyInformation', 'shippingInformation', 'availabilityStatus', 'reviews', 'returnPolicy', 'minimumOrderQuantity', 'meta', 'images', 'thumbnail']
üìè Dimensiones: (30, 22)

üîç Primeros 5 productos:
   id                          title  price category           brand  rating
0   1  Essence Mascara Lash Princess   9.99   beauty         Essence    2.56
1   2  Eyeshadow Palette with Mirror  19.99   beauty  Glamour Beauty    2.86
2   3                Powder Canister  14.99   beauty    Velvet Touch    4.64
3   4                   Red Lipstick  12.99   beauty  Chic Cosmetics    4.36
4   5                Red Nail Polish   8.99   beauty    Nail Couture    4.32

============================================================

---
### Interactuando con bases de datos 

En muchas aplicaciones los datos rara vez provienen de archivos de texto, siendo bastante ineficiente para grandes vol√∫menes. Por eso se usan bases de datos SQL como SQL Server, PostgreSQL, MySQL, o SQLite‚Ä¶


1. **Vamos a crear y consultar una base de datos SQL (SQLite en memoria)**  
muestra c√≥mo **cargar datos en un DataFrame de pandas** para analizarlos de manera m√°s sencilla.

In [12]:
import sqlite3

# üöÄ Crear base de datos en memoria
con = sqlite3.connect(":memory:")

# Crear tabla de pel√≠culas
query = """
CREATE TABLE peliculas (
    titulo VARCHAR(50),
    genero VARCHAR(20),
    rating REAL,
    anio INTEGER
);
"""
con.execute(query)
con.commit()

# Insertar datos
data = [
    ("Inception", "Sci-Fi", 8.8, 2010),
    ("The Godfather", "Crime", 9.2, 1972),
    ("Interstellar", "Sci-Fi", 8.6, 2014),
    ("Parasite", "Thriller", 8.6, 2019),
    ("Coco", "Animation", 8.4, 2017)
]
con.executemany("INSERT INTO peliculas VALUES (?, ?, ?, ?)", data)
con.commit()

# üìä Consultar datos y pasarlos a un DataFrame
cursor = con.execute("SELECT * FROM peliculas")
rows = cursor.fetchall()
cols = [desc[0] for desc in cursor.description]

df_sql = pd.DataFrame(rows, columns=cols)
df_sql

          titulo     genero  rating  anio
0      Inception     Sci-Fi     8.8  2010
1  The Godfather      Crime     9.2  1972
2   Interstellar     Sci-Fi     8.6  2014
3       Parasite   Thriller     8.6  2019
4           Coco  Animation     8.4  2017

Creamos una tabla peliculas en memoria (similar a lo que har√≠amos en cualquier base de datos real).

Insertamos registros (t√≠tulo, g√©nero, rating, a√±o).

Consultamos los datos y los transformamos en un DataFrame de pandas, que es mucho m√°s pr√°ctico para analizarlos.

---

In [ ]:
from pymongo import MongoClient  # Importa la librer√≠a para conectar a MongoDB
import pandas as pd  # Importa pandas para crear DataFrames

# URL de conexi√≥n a MongoDB Atlas (base de datos en la nube)
MONGO_URI = "mongodb+srv://leandro:LwNEUhSqRRaqP9Iw@cluster0.9zswgmv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

try:
    # üöÄ Conectar a MongoDB Atlas usando la URL
    client = MongoClient(MONGO_URI) 
    
    # Seleccionar base de datos llamada "ejemplo_db"
    db = client["ejemplo_db"]
    
    # Seleccionar colecci√≥n (equivale a tabla en SQL) llamada "libros"
    coleccion = db["libros"]

    # Lista de libros famosos con sus datos
    libros_data = [
        {"titulo": "Cien A√±os de Soledad", "autor": "Gabriel Garc√≠a M√°rquez", "ventas_millones": 50},
        {"titulo": "Don Quijote de la Mancha", "autor": "Miguel de Cervantes", "ventas_millones": 500},
        {"titulo": "Harry Potter y la Piedra Filosofal", "autor": "J.K. Rowling", "ventas_millones": 120},
        {"titulo": "El Principito", "autor": "Antoine de Saint-Exup√©ry", "ventas_millones": 140},
        {"titulo": "It", "autor": "Stephen King", "ventas_millones": 35}
    ]

    # Borrar todos los documentos anteriores de la colecci√≥n (para evitar duplicados)
    coleccion.delete_many({})
    
    # Insertar todos los libros de una vez en MongoDB
    result = coleccion.insert_many(libros_data)
    print(f"‚úÖ {len(result.inserted_ids)} libros insertados")

    # üìä Consultar todos los documentos de la colecci√≥n
    cursor = coleccion.find({})  # find({}) = traer todos los documentos
    
    # Convertir los documentos de MongoDB en un DataFrame de pandas
    df_mongo = pd.DataFrame(list(cursor))
    
    # Eliminar la columna '_id' porque es t√©cnica y no nos interesa
    if '_id' in df_mongo.columns:
        df_mongo = df_mongo.drop('_id', axis=1)
    
    print("\nüìö Libros en MongoDB:")
    print(df_mongo)  # Mostrar como texto
    
    # Mostrar el DataFrame en formato visual (tabla bonita)
    df_mongo

except Exception as e:
    # Si algo sale mal, mostrar el error
    print(f"‚ùå Error de conexi√≥n: {e}")
    print("üí° Verifica tu conexi√≥n a internet y las credenciales")

ServerSelectionTimeoutError: localhost:27017: [WinError 10061] No se puede establecer una conexi√≥n ya que el equipo de destino deneg√≥ expresamente dicha conexi√≥n (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 68ae10231d060b35fd14f94d, topology_type: Unknown, servers: [<ServerDescription ('localhost', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27017: [WinError 10061] No se puede establecer una conexi√≥n ya que el equipo de destino deneg√≥ expresamente dicha conexi√≥n (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>

Conectamos a MongoDB con MongoClient.

Insertamos una lista de libros famosos como documentos.

Consultamos con find() y convertimos el resultado en DataFrame.