# Introducci√≥n

En an√°lisis de datos, todo comienza con **leer datos** üìä.  
Pero los datos no siempre vienen en el mismo formato:  
- Archivos de **texto** como CSV o TXT  
- Formatos **estructurados** como JSON o XML  
- **Bases de datos** SQL  
- Incluso directamente desde la **web** üåê  

En esta primera parte vamos a ver un ejemplo con **CSV**, uno de los formatos m√°s comunes y f√°ciles de entender.

Para trabajar con datos en Python, vamos a utilizar la librer√≠a **pandas** que nos permite leer datos de muchos formatos diferentes (CSV, Excel, JSON, SQL, etc.).

## Opciones √∫tiles de `read_csv`

- **`sep`** ‚Üí define el delimitador (`,` por defecto, puede ser `;`, `|`, `\s+`, etc.)
- **`header`** ‚Üí fila usada como encabezado (`None` si no hay)
- **`names`** ‚Üí lista de nombres de columnas
- **`index_col`** ‚Üí columna que se usar√° como √≠ndice
- **`skiprows`** ‚Üí filas que se saltan al leer
- **`na_values`** ‚Üí valores a considerar como `NaN`
- **`nrows`** ‚Üí n√∫mero de filas a leer
- **`chunksize`** ‚Üí leer el archivo por partes (√∫til en archivos grandes)

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("datasets/CarsDatasets2025.csv", encoding="latin1")

In [5]:
df.head(10)

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm
5,BMW,Mclaren 720s,V8,"3,994 cc",710 hp,341 km/h,2.9 sec,"$499,000",Petrol,2,770 Nm
6,ASTON MARTIN,VANTAGE F1,V8,"3,982 cc",656 hp,314 km/h,3.6 sec,"$193,440",Petrol,2,685 Nm
7,BENTLEY,Continental GT Azure,V8,"3,996 cc",550 hp,318 km/h,4.0 sec,"$311,000",Petrol,4,900 Nm
8,LAMBORGHINI,VENENO ROADSTER,V12,"6,498 cc",750 hp,356 km/h,2.9 sec,"$4,500,000",Petrol,2,690 Nm
9,FERRARI,F8 TRIBUTO,V8,"3,900 cc",710 hp,340 km/h,2.9 sec,"$280,000",Petrol,2,770 Nm

### üìÑ Creaci√≥n de un CSV de ejemplo

Vamos a crear un **string multil√≠nea** que simula un archivo CSV:

- üè∑Ô∏è **Primera l√≠nea** ‚Üí contiene los **nombres de las columnas** (`a, b, c, d, message`).  
- üî¢ **Filas siguientes** ‚Üí contienen los **valores de cada columna**, separados por comas (`,`).  

As√≠ se ver√≠a el archivo en crudo:

In [6]:
#1. CSV simple con encabezado

from io import StringIO

csv_text = """a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo"""

df = pd.read_csv(StringIO(csv_text)) #lo transforma directamente en una tabla (DataFrame).
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
#2. CSV sin encabezado
csv_noheader = """1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo"""

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
# pandas asigna nombres gen√©ricos a las columnas
df_noheader = pd.read_csv(StringIO(csv_noheader), header=None)
df_noheader

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [10]:

# Tambi√©n podemos asignar nombres personalizados:
names = ['a', 'b', 'c', 'd', 'message']
df_named = pd.read_csv(StringIO(csv_noheader), names=names)
df_named

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
#3. Usar una columna como √≠ndice
df_indexed = pd.read_csv(StringIO(csv_noheader), names=names, index_col='message')
df_indexed

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [13]:
#4. CSV con delimitador distinto (ejemplo con ;)
csv_semicolon = """a;b;c;d;message
1;2;3;4;hello
5;6;7;8;world"""

df_semicolon = pd.read_csv(StringIO(csv_semicolon), sep=";")
df_semicolon

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [14]:
#5. CSV con espacios como separador


csv_space = """A   B   C
aaa -0.2 -1.0
bbb  0.9  0.3
ccc -0.2 -0.3"""

# Usamos una expresi√≥n regular para separar por uno o m√°s espacios
df_space = pd.read_csv(StringIO(csv_space), sep=r"\s+")
df_space

     A    B    C
0  aaa -0.2 -1.0
1  bbb  0.9  0.3
2  ccc -0.2 -0.3

In [15]:

csv_skip = """# comentario
a,b,c,d
1,2,3,4
5,6,7,8"""

df_skip = pd.read_csv(StringIO(csv_skip), skiprows=[0])
df_skip

   a  b  c  d
0  1  2  3  4
1  5  6  7  8