# Lectura, Limpieza y Exportaci√≥n de Datos con Pandas

## Objetivos

1. **Cargar datasets desde diferentes formatos** (CSV, JSON, Excel, SQL, etc.) utilizando par√°metros adecuados (`sep`, `na_values`, `parse_dates`, etc.).  
2. **Detectar y tratar valores faltantes y sucios** (`NaN`, `NULL`, `?`, vac√≠os), transform√°ndolos en un formato uniforme.  
3. **Ajustar tipos de datos** (fechas, n√∫meros, cadenas, IDs) para que el dataset sea m√°s consistente.  
4. **Aplicar an√°lisis preliminar** (`info()`, `head()`,shape) para conocer la estructura y calidad de los datos.  
5. **Exportar el DataFrame limpio en m√∫ltiples formatos** (CSV, Excel, JSON, SQL, y opcionalmente binarios como Pickle/Parquet/HDF5).

##  Librer√≠as

In [7]:
import pandas as pd
import numpy as np
import sqlite3
import os

## Lectura de dataset desde una fuente externa o local

In [10]:
# Cargar dataset de autos con configuraci√≥n correcta
df = pd.read_csv(
    "datasets/car_data.csv",
    sep=";",                           # archivo usa punto y coma
    na_values=["NA", "NULL", "?", ""], # normalizar nulos
    parse_dates=["Date"],              # columna de fechas
    thousands=",",                     # separador de miles en Price ($)
    decimal=".",                       # separador decimal
    dtype={
        "Car_id": "string",            # Car_id es alfanum√©rico
        "Dealer_No": "string",         # c√≥digos de dealer
        "Phone": "string"              # tel√©fono como string
    }
)

# Limpiar espacios en nombres de columnas
df.columns = df.columns.str.strip()

print("‚úÖ Dataset cargado correctamente")
print(f"üìè Dimensiones: {df.shape}")
print(f"üìã Columnas: {list(df.columns)}")

‚úÖ Dataset cargado correctamente
üìè Dimensiones: (23879, 16)
üìã Columnas: ['Car_id', 'Date', 'Customer Name', 'Gender', 'Annual Income', 'Dealer_Name', 'Company', 'Model', 'Engine', 'Transmission', 'Color', 'Price ($)', 'Dealer_No', 'Body Style', 'Phone', 'Dealer_Region']

## üîç Exploraci√≥n r√°pida de los datos

Ahora que tenemos el dataset cargado, vamos a explorarlo de forma b√°sica para entender qu√© contiene:

In [11]:
# 1. ¬øC√≥mo se ven las primeras filas?
print("\nPrimeras filas:")
print(df.head())

# 2. ¬øCu√°ntas filas y columnas tiene?
print("Shape (filas, columnas):", df.shape)

# 3. ¬øQu√© tipos de datos hay?
print("\nTipos de datos y memoria:")
print(df.info())

Primeras filas:
         Car_id       Date Customer Name Gender  Annual Income  \
0  C_CND_000001 2022-01-02     Geraldine   Male        13500.0
1  C_CND_000002 2022-01-02           Gia   Male      1480000.0
2  C_CND_000003 2022-01-02        Gianna   Male      1035000.0
3  C_CND_000004 2022-01-02       Giselle   Male        13500.0
4  C_CND_000005 2022-01-02         Grace   Male      1465000.0

                           Dealer_Name   Company       Model  \
0  Buddy Storbeck's Diesel Service Inc      Ford  Expedition
1                     C & M Motors Inc     Dodge     Durango
2                          Capitol KIA  Cadillac    Eldorado
3               Chrysler of Tri-Cities    Toyota      Celica
4                    Chrysler Plymouth     Acura          TL

                      Engine Transmission       Color  Price ($)   Dealer_No  \
0  Double√Ç¬†Overhead Camshaft         Auto       Black    26000.0  06457-3834
1  Double√Ç¬†Overhead Camshaft         Auto       Black    19000.0  60504-7114
2          Overhead Camshaft       Manual         Red    31500.0  38701-8047
3          Overhead Camshaft       Manual  Pale White    14000.0  99301-3882
4  Double√Ç¬†Overhead Camshaft         Auto         Red    24500.0  53546-9427

  Body Style    Phone Dealer_Region
0        SUV  8264678    Middletown
1        SUV  6848189        Aurora
2  Passenger  7298798    Greenville
3        SUV  6257557         Pasco
4  Hatchback  7081483    Janesville
Shape (filas, columnas): (23879, 16)

Tipos de datos y memoria:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23879 entries, 0 to 23878
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_id         111 non-null    string
 1   Date           111 non-null    datetime64[ns]
 2   Customer Name  111 non-null    object
 3   Gender         111 non-null    object
 4   Annual Income  111 non-null    float64
 5   Dealer_Name    111 non-null    object
 6   Company        111 non-null    object
 7   Model          111 non-null    object
 8   Engine         111 non-null    object
 9   Transmission   111 non-null    object
 10  Color          111 non-null    object
 11  Price ($)      111 non-null    float64
 12  Dealer_No      111 non-null    object
 13  Body Style     111 non-null    object
 14  Phone          111 non-null    string
 15  Dealer_Region  111 non-null    object
dtypes: datetime64[ns](1), float64(2), object(11), string(2)
memory usage: 2.9+ MB
None

# Limpieza de Datos

In [4]:

print("Valores faltantes por columna:")
missing = df.isnull().sum()
missing_pct = (df.isnull().sum() / len(df) * 100).round(1)
missing_report = pd.DataFrame({
    'Faltantes': missing,
    'Porcentaje': missing_pct
}).sort_values('Porcentaje', ascending=False)

# Solo mostrar columnas con valores faltantes
print(missing_report[missing_report['Faltantes'] > 0])

‚ùì Valores faltantes por columna:
               Faltantes  Porcentaje
Car_id             23768        99.5
Date               23768        99.5
Customer Name      23768        99.5
Gender             23768        99.5
Annual Income      23768        99.5
Dealer_Name        23768        99.5
Company            23768        99.5
Model              23768        99.5
Engine             23768        99.5
Transmission       23768        99.5
Color              23768        99.5
Price ($)          23768        99.5
Dealer_No          23768        99.5
Body Style         23768        99.5
Phone              23768        99.5
Dealer_Region      23768        99.5

In [12]:
## Exportaci√≥n del dataset trabajado a una fuente externa o local

In [5]:
# Crear carpeta de exportaci√≥n
os.makedirs("export", exist_ok=True)

# Exportar en diferentes formatos
df.to_csv("export/car_data_clean.csv", index=False, encoding="utf-8")
df.to_excel("export/car_data_clean.xlsx", index=False)
df.to_json("export/car_data_clean.json", orient="records", indent=2, force_ascii=False)

print("‚úÖ Datos exportados en:")
print("   üìÑ CSV: export/car_data_clean.csv")
print("   üìä Excel: export/car_data_clean.xlsx")
print("   üîó JSON: export/car_data_clean.json")

print(f"\nüìè Exportamos {len(df):,} registros con {len(df.columns)} columnas")

‚úÖ Datos exportados en:
   üìÑ CSV: export/car_data_clean.csv
   üìä Excel: export/car_data_clean.xlsx
   üîó JSON: export/car_data_clean.json

üìè Exportamos 23,879 registros con 16 columnas